<%= form_for(@item_category) do |f| %>
  <% if @item_category.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@item_category.errors.count, "error") %> prohibited this item_category from being saved:</h2>
    <ul>
    <% @item_category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :prefix %><br>
    <%= f.text_field :prefix %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :parent_category_id %><br>
    <%= f.select :parent_category_id, ItemCategory.parent_categories.map {|ic| ["#{ic.prefix} #{ic}", ic.id]}, :prompt => "None" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
