<% if @item_subcategories
  # this is a category that contains other categories
  %>
  <div class='grid'>
  
    <%= render "as_grid_item", :link => true, :href => item_categories_path, :h1 => "&lt;&lt; Back", :h2 => pluralize(ItemCategory.parent_categories.count, "Category") %>
  
    <% for item_category in @item_subcategories %>
      <%= render "as_grid_item", :object => item_category, :link => true %>
    <% end %>
  
  </div>

<% else
  # this is a category that contains items
  %>
  
  <div class='grid'>
  
    <%= render "as_grid_item", :link => true, :href => item_categories_path, :h1 => "&lt;&lt; Beginning", :h2 => pluralize(ItemCategory.parent_categories.count, "Category") %>
    
    <%= render "as_grid_item", :link => true, :object => @item_category.parent_category, :h1 => "&lt; #{@item_category.parent_category}" %>
  
    <%= render "as_grid_item", :link => false, :object => @item_category %>
  
  </div>
  
  <% unless @item_category.items.empty? %>
  <article>
    <h1>Items in this Category</h1>
    <table>
      <tr>
        <th>Catalog #</th>
        <th>Name</th>
        <th>Location</th>
        <th></th>
      </tr>

    <% @item_category.items.each do |item| %>
      <tr>
        <td><%= item.catalog_number %></td>
        <td><%= item.shortname %></td>
        <td><%= item.location %></td>
        <td><%= link_to 'View Item', item %> |
        <% if item.available? %>
        <%= link_to 'Check Out', new_item_checkout_path(item) %>
        <% else %>
        Unavailable
        <% end %></td>
      </tr>
    <% end %>
    </table>
  </article>
  <% end %>
  
<% end %>
