<% if @item_category.parent_category.nil?
  # this is a parent category
  %>
  <div class='three-grid'><%= link_to item_categories_path do %>
    <h1>&lt;&lt; Back</h1>
    <h2><%= pluralize ItemCategory.parent_categories.count, "Category" %></h2>
    <% end %>
  </div>
  <%
  i=2
  for item_category in @item_category.item_subcategories %>
  <div class='three-grid<%= (i%3==0)? (" grid-last"):("") %>'><%= link_to item_category do %>
    <h1>
      <%= item_category.slug or item_category.prefix %>: <%= item_category %>
    </h1>
    <h2><%= pluralize item_category.num_items, "Item" %></h2>
    <% end %>
  </div>

  <%
  i=i+1
  end %>

<% else
  # this is a subcategory
  %>
  <div class='three-grid'><%= link_to item_categories_path do %>
    <h1>&lt;&lt; Beginning</h1>
    <h2><%= pluralize ItemCategory.parent_categories.count, "Category" %></h2>
  <% end %></div>
  <div class='three-grid'><%= link_to @item_category.parent_category do %>
    <h1>&lt; <%= @item_category.parent_category.slug or @item_category.parent_category.prefix %> <%= @item_category.parent_category %></h1>
    <h2><%= pluralize @item_category.parent_category.num_items, "Item" %></h2>
  <% end %></div>
  <div class='three-grid-no-link grid-last'>
    <h1><%= @item_category.slug or @item_category.prefix %> <%= @item_category %></h1>
    <h2>
      <%= pluralize @item_category.num_items, "Item" %>
    </h2>
  </div>
  <% unless @item_category.items.empty? %>
  <article>
    <h1>Items in this Category</h1>
    <table>
      <tr>
        <th>Catalog #</th>
        <th>Name</th>
        <th>Location</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @item_category.items.each do |item| %>
      <tr>
        <td><%= item.catalog_number %></td>
        <td><%= item.shortname %></td>
        <td><%= item.location %></td>
        <td><%= link_to 'View Item', item %> |
        <% if item.available? %>
        <%= link_to 'Check Out', new_item_checkout_path(item) %>
        <% else %>
        Unavailable
        <% end %></td>
      </tr>
    <% end %>
    </table>
  </article>
  <% end %>
  <% unless @item_category.item_subcategories.empty? %>
  <article>
    <h1>Subcategories</h1>
    <p>
    <% # take subcategories, sort them, map them to links
    subcats = @item_category.item_subcategories.sort.map do |subcat|
      link_to("#{subcat.slug} #{subcat}", subcat)
    end
    # put 'and' between the last two subcategories
    if subcats.length > 1
      subcats = subcats-subcats[-2..-1]<<("#{subcats[-2]} and #{subcats[-1]}")
    end %>
    <%= # join the rest with ", " 
    raw(subcats.join ", ")
    %>
    </p>
  </article>
  <% end %>
<% end %>
