<p class="notice"><%= notice %></p>

<p>
  <b>Prefix:</b>
  <%= @item_category.slug or @item_category.prefix %>
</p>

<p>
  <b>Name:</b>
  <%= @item_category.name %>
</p>

<p>
  <b>Parent Category:</b>
  <%= link_to(@item_category.parent_category.name, @item_category.parent_category) unless @item_category.parent_category.nil? %>
</p>


<%= link_to 'Edit', edit_item_category_path(@item_category) %> |
<%= link_to 'Back', item_categories_path %>
