<p class="notice"><%= notice %></p>

<p>
  <b>Prefix:</b>
  <%= @item_category.prefix %>
</p>

<p>
  <b>Name:</b>
  <%= @item_category.name %>
</p>


<%= link_to 'Edit', edit_item_category_path(@item_category) %> |
<%= link_to 'Back', item_categories_path %>
