<article>
<div id='calwrapper'>
  <h1>My Calendar</h1>
  <div class='fleft'>
    <%= link_to "http://www.google.com/calendar/render?cid=" + h(dashboard_calendar_url(:format => :ics, :authentication_token => current_user.authentication_token)), :target => "_blank" do %>
      <%= image_tag "http://www.google.com/calendar/images/ext/gc_button6.gif", :border => 0, :id => 'addGoogleImg' %>
    <% end %>
  
    <div id='calside'>
      <div id='mygroups'>
        <h2>My Groups</h2>
        <% @mygroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group, :selected => true %>
        <% end %>
        </div>
      <div id='activeshows'>
        <h2>Active Shows</h2>
        <% @activeshows.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
        </div>
      <div id='activegroups'>
        <h2>Active Groups</h2>
        <% @activegroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div>
    </div>
  </div>
  <div id='calendar'></div>
  <div class='hidden'>
    <div id='newEventForm'>
      <%= form_for(@event) do |f| %>
      <div id='pageContainer'>
        <div>
          <div class="field"><%= f.text_field :title, {:placeholder => "Title", :class => "placeholder-shim"} %></div>
          <div class="field"><%= f.collection_select :group_id, @mygroups+@activeshows+@activegroups, :id, :name %></div>
          
          <span style='display:inline-block; width: 192px'><%= f.radio_button :all_day, false %>Select Times</span><%= f.radio_button :all_day, true %>All day<br>
          <%= f.text_field :start_time, {:class => 'datepicker placeholder-shim', :placeholder => "Start Time", :onChange => "$('#event_end_time').datepicker('option','minDate',$('#event_start_time').datepicker('getDate'))"} %>
          <%= f.text_field :end_time,   {:class => 'datepicker placeholder-shim', :placeholder => "End Time"} %>
          
          <div class="field">
            Repeats once every <%= f.text_field :repeat_frequency, {:size => 2, :maxlength => 2} %>
            <%= f.select :repeat_period, options_for_select(Event.periods) %><br>
            STOPPING CONDITION
          </div>
          <div class="field">
            <%= f.text_field :location, {:placeholder => "Location", :class => "placeholder-shim"} %>
          </div>
          <div class="field">
            <%= f.label :description %> (You may use <%= raw(HelpItem.get("textile").full) %>.)<br>
            <%= f.text_area :description, :rows => 4 %>
          </div>
        </div>
        <div>foo</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class='clearfix'></div>
</div>

</article>
