<article>
<div id='calwrapper'>
  <h1>My Calendar</h1>
  <div class='fleft'>
    <%= link_to "http://www.google.com/calendar/render?cid=" + h(dashboard_calendar_url(:format => :ics, :authentication_token => current_user.authentication_token)), :target => "_blank" do %>
      <%= image_tag "http://www.google.com/calendar/images/ext/gc_button6.gif", :border => 0, :id => 'addGoogleImg' %>
    <% end %>
  
    <div id='calside'>
      <div id='mygroups'>
        <h2>My Groups</h2>
        <% @mygroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group, :selected => true %>
        <% end %>
        </div>
      <div id='activeshows'>
        <h2>Active Shows</h2>
        <% @activeshows.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
        </div>
      <div id='activegroups'>
        <h2>Active Groups</h2>
        <% @activegroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div>
    </div>
  </div>
  <div id='calendar'></div>
  <div class='hidden'>
    <div id='newEventForm'>
      <%= form_for(@event) do |f| %>
      <div id='pageContainer'>
        <div class='newEventForm_page'>
          <div class="field"><%= f.text_field :title, {:placeholder => "Title", :class => "placeholder-shim"} %></div>
          <div class="field"><%= f.collection_select :group_id, @mygroups+@activeshows+@activegroups, :id, :name, {}, {:onChange => 'populateInvitees()'} %></div>
          
          <div class='fleft' style='width: 230px; display: inline-block'>
            <%= f.radio_button :all_day, false %> Select Times<br>
            <%= f.text_field :start_time, {:class => 'datepicker placeholder-shim', :placeholder => "Start Time"} %><br>
            Repeats every <%= f.number_field :repeat_frequency %>
            <%= f.select :repeat_period, options_for_select(Event.periods) %><br>
            Stops: <div style="display: inline-block">
              <%= radio_button_tag :stop_condition_type, 'occurrences' %>
              after <%= f.number_field :stop_after_occurrences %> occurrences<br>
              <%= radio_button_tag :stop_condition_type, 'date' %> on <%= f.text_field :stop_on_date, {:class => 'datepicker placeholder-shim', :placeholder => "date"} %>
            </div>
          </div>
          <div class='fleft' style="width: 220px; display: inline-block">
            <%= f.radio_button :all_day, true %> All day<br>
            <%= f.text_field :end_time,   {:class => 'datepicker placeholder-shim', :placeholder => "End Time"} %><br>
            <%= f.text_field :location, {:placeholder => "Location", :class => "placeholder-shim"} %><br>
            <%= f.text_area :description, :placeholder => "Description", :class => "placeholder-shim" %>
          </div>
          <%= f.submit "Create Event Now", :onclick => 'return submit_event_form()' %>
          or <a class='button' href='#none' style="min-width: inherit; width: 197px !important;" onclick='$("#pageContainer").animate({"left":"-456px"}, "fast")'>Invite People</a>
        </div>
        <div class='newEventForm_page' id='invitees'>
          <span id="privacy_type">
            <%= f.radio_button :privacy_type, "open", :checked => true, :onchange => "updatePrivacy()" %><label for="event_privacy_type_open">Open</label>
            <%= f.radio_button :privacy_type, "limited", :onchange => "updatePrivacy()" %><label for="event_privacy_type_limited">Limited</label>
            <%= f.radio_button :privacy_type, "closed", :onchange => "updatePrivacy()" %><label for="event_privacy_type_closed">Closed</label>
          </span>Limit to <%= f.number_field :attendee_limit, {:disabled => true} %> attendees<br>
          <div class='privacyMessage privacyMessage_open'>Anyone may attend.</div>
          <div class='privacyMessage privacyMessage_limited hidden'>People sign up until the event is full.</div>
          <div class='privacyMessage privacyMessage_closed hidden'>Only invited people are listed as attending.</div>
          <br>
          <div class='fleft' style='width: 239px; display: inline-block'>
            <div class='fleft' style='display: inline-block; width: 215px'>
            Select from positions:<br>
            <%= select_tag :position_select, nil, :multiple => true, :size => 6 %><br>
            </div>
            <div id='invitee_buttons' class='fleft'>
              <a class='cal_invitee_button button smallbutton' href="#none" onclick='$("#position_names").append($("#position_select :selected"))'>&gt;</a><br>
              <a class='cal_invitee_button button smallbutton' href="#none" onclick='$("#position_select").append($("#position_names :selected"))'>&lt;</a>
            </div>
          </div>
          <div class='fleft' style="display: inline-block; width: 215px">
            People you're inviting:<br>
            <%= select_tag :position_names, nil, :multiple => true, :size => 6 %><br>
          </div>
          <div class='clearfix'></div>
          <%= f.submit "Create Event Now", :onclick => 'return submit_event_form()' %> or 
          <a class='button' href='#none' style="min-width: inherit; width: 197px !important;" onclick='$("#pageContainer").animate({"left":"0px"}, "fast")'>Go Back</a>
        </div>
        <div class='clearfix'></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class='clearfix'></div>
</div>

</article>
