<article>
<div id='calwrapper'>
  <h1>My Calendar</h1>
  <div class='fleft'>
    <%= link_to "http://www.google.com/calendar/render?cid=" + h(dashboard_calendar_url(:format => :ics, :authentication_token => current_user.authentication_token)), :target => "_blank" do %>
      <%= image_tag "http://www.google.com/calendar/images/ext/gc_button6.gif", :border => 0, :id => 'addGoogleImg' %>
    <% end %>
  
    <div id='calside'>
      <div id='mygroups'>
        <h2>My Groups</h2>
        <% @mygroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group, :selected => true %>
        <% end %>
        </div>
      <div id='activeshows'>
        <h2>Active Shows</h2>
        <% @activeshows.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
        </div>
      <div id='activegroups'>
        <h2>Active Groups</h2>
        <% @activegroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div>
    </div>
  </div>
  <div id='calendar'></div>
  
  <div class='clearfix'></div>
</div>

</article>
