<article>
<div id='calwrapper'>
  <h1>My Calendar</h1>
  <div class='fleft'>
    <%= link_to "http://www.google.com/calendar/render?cid=" + h(dashboard_calendar_url(:format => :ics, :authentication_token => current_user.authentication_token)), :target => "_blank" do %>
      <%= image_tag "http://www.google.com/calendar/images/ext/gc_button6.gif", :border => 0, :id => 'addGoogleImg' %>
    <% end %>
  
    <div id='calside'>
      <div id='mygroups'>
        <h2>My Groups</h2>
        <% @mygroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group, :selected => true %>
        <% end %>
        </div>
      <div id='activeshows'>
        <h2>Active Shows</h2>
        <% @activeshows.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
        </div>
      <div id='activegroups'>
        <h2>Active Groups</h2>
        <% @activegroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div>
    </div>
  </div>
  <div id='calendar'></div>
  <div class='hidden'>
    <div id='newEventForm'>
      <%= form_for(@event) do |f| %>
      <div id='pageContainer'>
        <div class='newEventForm_page'>
          <div class="field"><%= f.text_field :title, {:placeholder => "Title", :class => "placeholder-shim", :style => "max-width: 453px; width: 440px; font: normal normal normal 17pt/17pt Georgia, 'Times New Roman', Times, serif"} %></div>
          <div class="field"><%= f.collection_select :group_id, @mygroups+@activeshows+@activegroups, :id, :name %></div>
          
          <div style='width: 230px; float: left; display: inline-block'>
            <%= f.radio_button :all_day, false %> Select Times<br>
            <%= f.text_field :start_time, {:class => 'datepicker placeholder-shim', :placeholder => "Start Time"} %><br>
            Repeats every <%= f.text_field :repeat_frequency, {:maxlength => 2, :style => "width: 30px"} %>
            <%= f.select :repeat_period, options_for_select(Event.periods) %><br>
            Stops: <div style="display: inline-block">
              <%= radio_button_tag :stop_condition_type, 'occurrences' %>
              after <%= text_field nil, :stop_condition_N, {:maxlength => 2, :style => "width: 30px"} %> occurrences<br>
              <%= radio_button_tag :stop_condition_type, 'periods' %>
              after <%= text_field nil, :stop_condition_N, {:maxlength => 2, :style => "width: 30px"} %> <%= select nil, :stop_condition_period, options_for_select(Event.periods) %><br>
              <%= radio_button_tag :stop_condition_type, 'date' %> on <%= text_field nil, :stop_date, {:class => 'datepicker placeholder-shim', :placeholder => "date", :style => "width: 175px"}%>
            </div>
          </div>
          <div style="width: 220px; float: left; display: inline-block">
            <%= f.radio_button :all_day, true %> All day<br>
            <%= f.text_field :end_time,   {:class => 'datepicker placeholder-shim', :placeholder => "End Time"} %><br>
            <%= f.text_field :location, {:placeholder => "Location", :class => "placeholder-shim"} %>
            <%= f.label :description %><br>
            <%= f.text_area :description, :style => "height: 71px;" %>
          </div>
        </div>
        <div class='newEventForm_page'>foo</div>
        <div class='clearfix'></div>
      </div>
      <% end %>
    </div>
  </div>
  <div class='clearfix'></div>
</div>

</article>
