<% content_for :header do %>
  <%= stylesheet_link_tag 'fullcalendar', 'cal' %>
  <%= javascript_include_tag 'fullcalendar.min', 'jquery-ui-timepicker-addon', 'cal' %>
<% end %>
<article>
<div id='calwrapper'>
  <h1>My Calendar</h1>
  <div style="position:absolute;top:22px;bottom:0px">
    <%= link_to "http://www.google.com/calendar/render?cid=" + h(dashboard_calendar_url(:format => :ics, :authentication_token => current_user.authentication_token)), :target => "_blank" do %>
      <%= image_tag "http://www.google.com/calendar/images/ext/gc_button6.gif", :border => 0, :id => 'addGoogleImg' %>
    <% end %>
  
    <div id='calside'>
      <div id='mygroups'>
        <h2>My Groups</h2>
        <% @mygroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group, :selected => true %>
        <% end %>
      </div> <!-- #mygroups -->
      <div id='activeshows'>
        <h2>Active Shows</h2>
        <% @activeshows.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div><!-- #activeshows -->
      <div id='activegroups'>
        <h2>Active Groups</h2>
        <% @activegroups.each do |group| %>
        <%= render "groups/as_calendar", :group => group %>
        <% end %>
      </div><!-- #activegroups -->
    </div><!-- #calside -->
  </div>
  <div id='calendar'></div>
  <%= render "shared/new_event_form" %>
  <div class='clearfix'></div>
</div><!-- #calwrapper -->

</article>
