<div class="row">
	<div class="dashboard">
	<div class="dashboard-header">
		<%= link_to 'Active Shows', shows_path %>
	</div>
	<div class="dashboard-container">
	<ul class="thumbnails" style="padding:5px;">
		<% Show.active.each do |s| %>
			<div class="span3">
				<div class="thumbnail">
					<%= image_tag s.image(:medium), size: '260x180'%>
					<div class="caption">
						<h5><%= s.name %></h5>
						<p>Call Time: Coming Soon</p>
						<p>
							Pre-Production
							<div class="progress progress-info">
								<div class="bar" style="width:10%;"></div>
							</div>
							Show dates not yet set
						</p>
						<p><%= link_to 'View', s, class: 'btn btn-primary' %></p>
					</div>
				</div>
			</div>
		<% end %>
	</ul>
	</div>
	</div>
</div>
<div class="row">
	<div class="span4">
		<%= render 'message_threads/dashboard', threads: @threads %>
	</div>
	<div class="span4">
		<%= render 'events/dashboard', events: @events %>
	</div>
	<div class="span4">
		<%= render 'notifications/dashboard', notifications: current_user.notifications %>
	</div>
</div>