<% sitewide_notice = HelpItem.get("sitewide-notice") %>
<% if (not sitewide_notice.message.nil?) and (not sitewide_notice.message.empty?) then %>
  <article style="text-align: center">
  <%= raw textilize sitewide_notice.message  %>
  </article>
<% end %>

<article>
<%= link_to "Elections are open!", "http://online.snstheatre.org/elections_login.php", :method=>:post,:andrewid=>current_user.andrewid,:auth=>Digest::MD5.hexdigest("kWhcuf6FbgvzCMMEQz9Q"+current_user.andrewid) %> 
Visit the elections site where you can nominate S'n'S members for board positions,
accept/reject your nominations, and read or publish platforms.
</article>

<% if current_user.incomplete_record? %>
  <article> <%= current_user.first_name %>, 
  it looks like your profile is incomplete.  Please take some time to
  <%= link_to "tell us more about yourself", edit_user_path(current_user) %>!<br>
  </article>
<% end %>

<article>
<div class='dashboard-split'>
  <div class='dashboard-left'>
    <div class="dashboard-item">
      <h1>My Upcoming Events</h1>
      <% events = current_user.future_events.uniq.sort[0..10] %>
      <% unless events.length == 0 %>
        <ul>
          <% events.each do |event| %>
            <li>
            <%= link_to event.group, event.group %>: <%= link_to event, event %>
            <%= format_time event.start_time %>
            </li>
          <% end %>
        </ul>
      <% else %>
        You don't have any upcoming events. Join <%= link_to "more groups", groups_path %>!
      <% end %>
    </div>
    <hr>
    <div class="dashboard-item">
      <h1>My Active Groups</h1>
      <% groups = current_user.groups.active.uniq %>
      <% if groups.count > 0 %>
      <table style='vertical-align: top'>
        <% c = 0 %>
        <% groups.each do |g| %>
          <% if c%4==0 %>
          <tr>
          <% end %>
          <td style='vertical-align:top'><%= raw as_icon(g, nil) %></td>
          <% if c%4==3 %>
          </tr>
          <% end %>
          <% c=c+1 %>
        <% end %>
      </table>
      <% else %>
        You aren't part of any groups. Join <%= link_to "more groups", groups_path %>!
      <% end %>
    </div>
    <hr>
    <div class="dashboard-item">
      <h1>My Checkouts</h1>
      <% checkouts = current_user.current_checkouts_to %>
      <% if checkouts.count > 0 %>
        <ul>
          <% checkouts.each do |checkout| %>
            <li><%= link_to checkout.item, checkout.item %>.<br>
            <% if checkout.has_deadline? %>
            Due <%= format_date checkout.due_date %>.
            <% end %>
            <%= link_to "View Checkout", checkout %>.</li>
          <% end %>
        </ul>
      <% else %>
        You don't have anything checked out. Go to the <%= link_to "inventory", item_categories_path, :class => nav_class(item_categories_path) %> to check things out!
      <% end %>
    </div>
    <hr>
    <div class="dashboard-item">
      <h1>Today's Birthdays</h1>
      <% bday = User.birthday.all %>
      <% if bday.count > 0 %>
      <table>
        <% c = 0 %>
        <% bday.each do |u| %>
          <% if c%4==0 %>
          <tr>
          <% end %>
          <td style='vertical-align:top'><%= raw as_icon(u, nil) %></td>
          <% if c%4==3 %>
          </tr>
          <% end %>
          <% c = c+1 %>
        <% end %>
      </table>
      <% else %>
        No one has a birthday today. You should celebrate someone's half-birthday instead.
      <% end %>
    </div>
  </div>
  <div class='dashboard-right'>
    <h1>Recent Activity</h1>
    <small>See the list of <%= link_to "things I follow", user_watchers_path(current_user) %></small><br><br>
    <% for post in current_user.recent_feed_entries %>
      <%= render "feedposts/" + post.post_type, :post => post %>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
</article>
