<% if current_user.incomplete_record? %>
  <article> <%= current_user.first_name %>, 
  it looks like your profile is incomplete.  Please take some time to
  <%= link_to "tell us more about yourself", edit_user_path(current_user) %>!<br>
  </article>
<% end %>

<article>
<div class='halves-split'>
  <div class='half fleft'>
    <div class="dashboard-item">
    <h1>Upcoming Events</h1>
    <% events = current_user.future_events.uniq.sort
    #TODO only show the NEXT 10
    #ASK should we implement some sort of User Settings where they override that?
    %>
    <% unless events.length == 0 %>
      <ul>
        <% events.each do |event| %>
          <li>
          <%= format_time event.start_time %>
          <%= link_to event.group, event.group %>: <%= link_to event, event %>
          </li>
        <% end %>
      </ul>
    <% else %>
      You don't have any upcoming events, join <%= link_to "more groups", groups_path %>.
    <% end %>
    </div>
    <div class="dashboard-item">
    <h1>Your Groups</h1>
    <ul>
      <% current_user.groups.active.each do |g| %>
        <li><%= link_to g, g %></li>
      <% end %>
    </ul>
    </div>
    <div class="dashboard-item">
    <% unless current_user.current_checkouts_to.empty? %>
      <h1>Your Checkouts</h1>
      <ul>
        <% current_user.current_checkouts_to.each do |checkout| %>
          <li><%= link_to checkout.item, checkout.item %> for <%= link_to checkout.group, checkout.group %>. Checked out by <%= link_to checkout.opener, checkout.opener %>. <%= link_to "View Checkout", checkout %>. <%= link_to "Check In", new_checkout_checkout_event_path(checkout, :event => 'closed') %>.</li> <!-- #TODO FIXME there must be a prettier way to do this -->
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>
  <div class='half fright'>
    <h1>Recent Activity</h1>
        <% for post in current_user.recent_feed_entries %>
          <%= render "feedposts/" + post.post_type, :post => post %>
        <% end %>
  </div>
  <div class='clearfix'></div>
</div>
</article>

