<h1>Welcome <%= current_user.first_name %></h1>

<%= link_to "Groups",groups_path %>
| <%= link_to "Users",users_path %>

<% if current_user.groups.count == 0 then %>
	<h3>You don't have any groups!</h3>
<% else %>
	<h3>Your groups</h3>
	<ul>
		<% current_user.positions.each do |p| %>
			<li><%= link_to p.group, p.group %> (<%=h p %>) which is a child of <%= p.group.parent or "no group" %>.</li>
			<p>In this group, you have the following permissions: <%= p.group.permissions_for(current_user).join(", ") %>
		<% end %>
	</ul>
<% end %>

You have the following global permissions: 
<%= Group.system_group.permissions_for(current_user).join(", ") %>
