<article>
  <h3>What's this?</h3>
  This is the System Administrator tab.  It's a special tab that shows up only
  for users in the <%= link_to Group.system_group, Group.system_group %>.  You
  shouldn't do anything here unless you really are sure of what will happen.
</article>

<% if has_global_permission? "createGroup" or has_global_permission? "createShow" or has_global_permission? "createBoard" %>
  <article>
  <h3>Group Actions</h3>
  <% if has_global_permission? "createGroup" %><p>
    <%= image_tag "add_icon.png", :size => "12x12" %>
    <%= link_to 'New Group', new_group_path %>
    FIXME Blurb on when a Group is the correct choice.
  </p><% end %>
  <% if has_global_permission? "createShow" %></p>
    <%= image_tag "add_icon.png", :size => "12x12" %>
    <%= link_to 'New Show', new_group_path(:group_type => "Show") %>
    FIXME Blurb on when a Show is the correct choice.
  </p><% end %>
  <% if has_global_permission? "createBoard" %><p>
    <%= image_tag "add_icon.png", :size => "12x12" %>
    <%= link_to 'New Board', new_group_path(:group_type => "Board") %>
    FIXME Blurb on when a Board is the correct choice.
  </p><% end %>
  </article>
<% end %>

<% if has_global_permission? "adminItems" %>
  <article>
  <h3> Inventory Actions </h3><br>
  <ul>
    <li>
    <%= image_tag "add_icon.png", :size => "12x12" %>
    <%= link_to "Add an item", new_item_path %>
    </li>
    <% if has_global_permission? "adminItemCategories" %>
    <li>
    <%= image_tag "add_icon.png", :size => "12x12" %>
    <%= link_to "Add Item Category", new_item_category_path %>
    </li>
    <% end %>
  </ul>

    <p>Blurb about items and item categories</p>
    </article>
<% end %>

<% if has_global_permission? "adminHelpItems" %>
  <article>
    <h3><%= link_to "Administer Help Items", help_items_path %></h3>
    <p>Any time you want to put a short message in a colorbox, Help Items are the way to go!
      Currently they're a little hacky, but someday we hope to fix that. In order to use a Help Item,
      first create the one you need, then include it in the view with one or more of the following:
      <ul>
        <li><tt>raw(HelpItem.get("foo").full)</tt> will include everything you need for a Help Item with the anchor "<tt>foo</tt>"</li>
        <li><tt>raw(HelpItem.get("foo").link)</tt> will give you just the link part (the &lt;a&gt; tag)</li>
        <li><tt>raw(HelpItem.get("foo").script_full)</tt> will give you the full javascript needed</li>
        <li><tt>raw(HelpItem.get("foo").script)</tt> will give you the one javascript call for this Help Item&mdash;be sure to put it inside <tt>&lt;script&gt;</tt> tags!</li>
        <li><tt>raw(HelpItem.get("foo").block_full)</tt> will print the entire message block inside a hidden <tt>div</tt></li>
        <li><tt>raw(HelpItem.get("foo").block)</tt> will print the message block. If you want the message to be hidden from view normally, put this line inside a hidden div or use <tt>block_full</tt></li>
      </ul></p>
  </article>
<% end %> 

<% if has_global_permission? "adminRoles" %>
  <article>
    <h3><%= link_to "Administer Roles", roles_path %></h3>
    <p>Blurb about permissions and roles</p>
  </article>
<% end %>
