<h1>Inbox</h1>
<%= link_to "<span class='glyphicon glyphicon-pencil'></span> Compose".html_safe,
  new_message_path, class: 'btn btn-success' %>

<br /><br />

<table class='table zebra-striped'>
  <tr>
    <th>Subject</th>
    <th>From</th>
    <th>To</th>
    <th>Sent</th>
  </tr>
  <% @messages.reverse.each do |message| %>
    <tr>
      <td><%= link_to message.subject, message %></td>
      <td><%= link_to message.sender, message.sender %></td>
      <td><%= message.recipients_for_user(current_user).collect(&:name).join(', ') %></td>
      <td><%= time_ago_in_words(message.created_at) %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @messages %>
