<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>Priority:</b>
  <%= @message.priority %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
