<div class="col-md-8 col-md-offset-2">
  <%= image_tag 'sns_web_logo.png', class: 'img-responsive' %>
</div>

<br>
<br>

<%= form_for :user, :url => user_session_path, :html=>{:class => 'form', :role => 'form'} do |ft| %>
    <div class="input-group">
      <%= ft.text_field :andrewid, :placeholder => 'Andrew ID', :class => 'form-control' %>
      <span class="input-group-addon">@andrew.cmu.edu</span>
    </div>
    <div class="input-group">
      <%= ft.password_field :password, :placeholder => 'Password', :class => 'form-control' %>
    </div>
<center>
      <% if devise_mapping.rememberable? -%>
        <div class="input-group">
        <br>
        <%= ft.check_box :remember_me, { :checked => true } %> <%= ft.label :remember_me %>
        </div>
      <% end -%>
    <%= submit_tag 'Login', class: 'btn btn-primary' %>
    <%= link_to 'Register', new_registration_path(:user), class: 'btn btn-default' %>
  <% end %>

  <br>

  <%= link_to "Forgot Password", new_password_path(:user), :class => "button smallbutton" %>
  <br>
  <%= link_to "Resend Confirmation", new_confirmation_path(resource_name) %>
</center>
