<% position = object %>

<%= render :layout => 'users/as_line_item', :locals => {:object => position.user, :style => 'display:inline-block; white-space:nowrap; float:left;'} do %>
  <h3>
    <% if position.role.to_s != position.display_name.to_s %>
      <%= position.display_name %> (<%= position.role %>)
    <% else %>
      <%= position.role %>
    <% end %>
  </h3>
<% end %>

<div style='display: inline-block; float: left; margin-left: 60px; margin-top: 3px;'>
<% if has_permission?("adminPositions") || (position.role.crew? && has_permission?("adminCrew")) %>
  <%= link_to image_tag("delete_icon.png", :size => "8x8"), position_path(position), :method => :delete, 
    :confirm => "Are you sure you want to remove #{position.user} from the role of #{position}?" %>
<% end %>
</div>
<div class='clearfix'></div>
<br>
