<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>
    <ul>
    <% @position.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.text_field :role_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
