<% if has_permission? "adminPositions" %>
<article>
<h1>Add a new role</h1>
<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>
    <ul>
    <% @position.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :group_id %>
  <div class="field">
    <%= f.label :user_id %>: 
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :role_id, "Role Type" %>: 
    <%= f.collection_select :role_id, @group.roles.sort, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :display_name, "Role Name" %>: 
    <%= f.text_field :display_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</article>
<% end %>

<% if has_permission?("adminCrew") && ! @position.display_name %>
  <%= render :partial => 'show_crew' %>
<% end %>
