<h1>Add crew members</h1>
<%= form_tag bulk_create_group_positions_path(@group) do %>
  <%= hidden_field_tag :role_id, Role.crew.id %>
  <div class="field">
    <%= label_tag "position_name",  "Crew Name" %>
    <%= select_tag "position_name", options_for_select([""] + crews) %>
  </div>

  <div class="field">
  <%= label_tag "users", "Crew Members" %>
  <%= select_tag "andrewids[]", [], class: 'user_identifiers', multiple: 'multiple' %>
  </div>

  <div class="actions">
    <%= submit_tag "Add Crew Members" %>
  </div>
  <div style="min-height: 100px;">
    <em></em>
  </div>
<% end %>
