<article>
<h1>Add crew members</h1>
<%= form_tag bulk_create_group_positions_path(@group) do %>
  <%= hidden_field_tag :role_id, Role.crew.id %>
  <div class="field">
    <%= label_tag "position_name",  "Crew Name" %>
    <%= select_tag "position_name", options_for_select(crews) %>
  </div>

  <div class="field">
  <%= label_tag "users", "Crew Members" %>
  <% 10.times do %> <!-- # FIXME: this should really use JavaScript to add/remove form elements at will -->
    <%= select_tag "users[]", raw("<option></option>" + options_from_collection_for_select(User.all,:id,:name)) %>    
  <% end %>
  </div>

  <div class="actions">
    <%= submit_tag "Add Crew Members" %>
  </div>
<% end %>
</article>
