<article>
<h1>Add a new role</h1>
<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>
    <ul>
    <% @position.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :group_id %>
  <div class="field">
    <%= f.label :user_id %>: 
    <%= f.collection_select :user_id, User.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :role_id, "Role Type" %>: 
    <%= f.collection_select :role_id, @group.roles.sort, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :display_name, "Role Name" %>: 
    <%= f.text_field :display_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</article>

<article>
<h1>Add crew members</h1>
<%= form_tag bulk_create_group_positions_path(@group) do %>
  <%= hidden_field_tag :role_id, Role.crew.id %>
  <div class="field">
    <%= label_tag "position_name",  "Crew Name" %>
    <%= select_tag "position_name", options_for_select(crews) %>
  </div>

  <div class="field">
  <%= label_tag "users", "Crew Members" %>
  <% 10.times do %> <!-- # FIXME: this should really use JavaScript to add/remove form elements at will -->
    <%= select_tag "users[]", raw("<option></option>" + options_from_collection_for_select(User.all,:id,:name)) %>    
  <% end %>
  </div>

  <div class="actions">
    <%= submit_tag "Add Crew Members" %>
  </div>
<% end %>
</article>
