<p class="notice"><%= notice %></p>

<h1><%= link_to @group.name, @group %> Members</h1>

<% if @positions.count == 0 %>
  <p>This group does not have any members!?</p>
<% else %>
<ul>
  <% @positions.each do |p| %>
    <li><%= link_to p.user, p.user %> (<%= link_to p.role, edit_position_path(p) %>: <%= p %>)</li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Add a member', new_group_position_path(@group) %>
