<article>
<% if params[:group_type] == "Show" then %>
  <%= render 'show_index' %>
<% else %>
  <% if has_permission? "adminPositions" %>
  <div class="edit_link">
    <%= link_to image_tag("add_icon.png", :size => "12x12") + 'Add a member', new_group_position_path(@group) %>
  </div>
  <% end %>

  <h1><%= @group %> Members</h1>
  <%= will_paginate @positions %>

  <% if @positions.count == 0 %>
    <p>This group does not have any members!?</p>
  <% else %>
    <% @positions.each do |p| %>
      <%= render "as_line_item", :object => p %>
    <% end %>
  <% end %>
<% end %>
</article>
