<p class="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @position.group_id %>
</p>

<p>
  <b>Role:</b>
  <%= @position.role_id %>
</p>

<p>
  <b>User:</b>
  <%= @position.user_id %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
