<h1>Listing item_categories</h1>

<table>
  <tr>
    <th>Prefix</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_categories.each do |item_category| %>
  <tr>
    <td><%= item_category.prefix %></td>
    <td><%= item_category.name %></td>
    <td><%= link_to 'Show', item_category %></td>
    <td><%= link_to 'Edit', edit_admin_item_category_path(item_category) %></td>
    <td><%= link_to 'Destroy', item_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item category', new_admin_item_category_path %>
