<article>
  <h1>Create Your Scotch on the Web Account!</h1>
  <p>
    Creating an account will allow you to register for auditions,
    browse our online tech equipment inventory, see our technical resources,
    sign up for tech crews and easily contact any other member of
    Scotch'n'Soda.
  </p>
</article>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<article>
  <div class='halves-split'>
    <div class='fleft half'>
      <h1>Required Information</h1>
      <p>We've gotta have something in our big black book y'know.</p>
      
      <%= devise_error_messages! %>
      <p>
        <%= f.label :first_name %><span class='fright'><%= f.text_field :first_name %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :last_name %><span class='fright'><%= f.text_field :last_name %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :email %><span class='fright'><%= f.text_field :email %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :password %><span class='fright'><%= f.password_field :password %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :password_confirmation %><span class='fright'><%= f.password_field :password_confirmation %></span>
        <div class='clearfix'></div>
      </p>
    </div>
    <div class='fright half'>
      <h1>Optional Information</h1>
      <p>Tell us a little about yourself.</p>
      <p>
        <%= f.label :smc, "SMC" %><span class='fright'><%= f.text_field :smc %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :graduation_year %><span class='fright'><%= f.select :graduation_year, (Time.now.year.to_i...Time.now.year.to_i+6), :prompt => "Select a year" %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :residence %><span class='fright'><%= f.text_field :residence %></span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :gender %><span class='fright'><%= f.radio_button :gender, "male" %> Boy <%= f.radio_button :gender, "female" %> Girl</span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label "Birthday" %>
        <span class='fright'>
          <%= f.select :birthday, (1..31), :prompt => "Day" %>
          <%= f.select :birthmonth, (1..12).map {|i| [["January","February","March","April","May","June","July","August","September","October","November","December"][i-1],i] }, :prompt => "Month" %>
          <%= f.select :birthyear, (Time.now.year.to_i-80..Time.now.year.to_i-10), :prompt => "Year"%>
        </span>
        <div class='clearfix'></div>
      </p>
      <p>
        <%= f.label :phone %><span class='fright'><%= f.text_field :phone %></span>
        <div class='clearfix'></div>
      </p>
      <p>That's enough for now. You can tell us more once you're inside.</p>
    </div>
    <div class='clearfix'></div>
  </div>
</article>
<article>
  <h1>Everything In Order?</h1>
  <p>
    Please make sure the information you've entered is correct. Once you submit this form,
    check your email for a confirmation. <!--TODO Oh, and one more thing:<br>
    Yes, I want to be added to the Scotch'n'Soda d-list, which will send out occasional e-mail
    updates on S'n'S shows and programs.--><br>
    <div style='width:100%;text-align:center'>
      <%= f.submit "Create My Account!" %> <input type='reset' value='Reset This Form' />
    </div>
  </p>
</article>
<% end %>

  
  


