<div class="col-md-8 col-md-offset-2">
  <%= image_tag 'sns_web_logo.png', class: 'img-responsive' %>
</div>
<br>
<h1>Registration</h1>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :andrewid, label: 'Andrew ID' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, label: 'Password Confirmation' %>
  <%= f.input :smc, label: 'SMC' %> <span class='help-block'>Sometimes our members purchase things on behalf of the organization. We need your SMC in order to complete reimbursements.</span>
  <%= f.input :graduation_year, label: 'Graduation Year', collection: Date.today.year..(Date.today.year + 6), include_blank: false %>
  <%= f.input :residence %><span class="help-block">In case you over-sleep and we need you.</span>
  <%= f.input :phone %> <span class='help-block'>We often need to call members if they are late for an audition or rehearsal. If we don't have your number, you could be left behind.</span>
  <%= f.input :gender, collection: ['Male', 'Female'], include_blank: false %>
  <%= f.input :birthday %>
  <br>
  <center>
    <%= f.button :submit, "Create My Account", class: 'btn btn-primary' %>
  </center>
<% end %>
<br>

