<%= form_for(@voting) do |f| %>
  <% if @voting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@voting.errors.count, "error") %> prohibited this voting from being saved:</h2>

      <ul>
      <% @voting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :voting_type %><br />
    <%= f.select :voting_type, Voting.VOTING_TYPES %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :open_date %><br />
    <%= f.date_select :open_date %>
  </div>
  <div class="field">
    <%= f.label :vote_date %><br />
    <%= f.date_select :vote_date %>
  </div>
  <div class="field">
    <%= f.label :close_date %><br />
    <%= f.date_select :close_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
