<article>

<h1>Listing votings</h1>

<table>
  <tr>
    <th>Voting Type</th>
    <th>Name</th>
    <th>Open date</th>
    <th>Close date</th>
    <th>Vote date</th>
    <th>Press date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votings.each do |voting| %>
  <tr>
    <td><%= voting.voting_type %></td>
    <td><%= voting.name %></td>
    <td><%= voting.open_date %></td>
    <td><%= voting.close_date %></td>
    <td><%= voting.vote_date %></td>
    <td><%= voting.press_date %></td>
    <td><%= link_to 'Show', voting %></td>
    <td><%= link_to 'Edit', edit_voting_path(voting) %></td>
    <td><%= link_to 'Destroy', voting, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voting', new_voting_path %>

</article>
