<article>

<p id="notice"><%= notice %></p>

<p>
  <b>Voting Type:</b>
  <%= @voting.voting_type %>
</p>

<p>
  <b>Name:</b>
  <%= @voting.name %>
</p>

<p>
  <b>Open date:</b>
  <%= @voting.open_date %>
</p>

<p>
  <b>Close date:</b>
  <%= @voting.close_date %>
</p>

<p>
  <b>Vote date:</b>
  <%= @voting.vote_date %>
</p>

<p>
  <b>Press date:</b>
  <%= @voting.press_date %>
</p>

Admin: <%= link_to 'Edit', edit_voting_path(@voting) %>

</article>

<% @voting.races.each do |race| %>
  <div>
    <article>
      <span class='fright'>
        <a class='showhide' href='javascript:void(0)'>
          <span class='showhide hidden'>show</span><span class='showhide'>hide</span>
        </a>
      </span>
      <h1><%= race.name %></h1>
    </article>
    <div class='collapsible'>
      <% race.nominations.sort.each do |nomination| %>

        <%= render "nominations/as_grid_item", :object => nomination %>

      <% end %>
      
      <%
      # set up new nomination grid item
      
      #todo only show if privs allow
      %>
      <%= render "shared/as_grid_item", :h1 => "Add New Nomination", :link => true, :href => "javascript:void(0)", :link_class => "addNewNomination" %>
    </div>
  </div>
<% end %>