<article>

<p id="notice"><%= notice %></p>

<p>
  <b>Voting Type:</b>
  <%= @voting.voting_type %>
</p>

<p>
  <b>Name:</b>
  <%= @voting.name %>
</p>

<p>
  <b>Open date:</b>
  <%= @voting.open_date %>
</p>

<p>
  <b>Close date:</b>
  <%= @voting.close_date %>
</p>

<p>
  <b>Vote date:</b>
  <%= @voting.vote_date %>
</p>

<p>
  <b>Press date:</b>
  <%= @voting.press_date %>
</p>

<%= link_to 'Edit', edit_voting_path(@voting) %> |
<%= link_to 'Back', votings_path %>

<hr>

<% @voting.races.each do |race| %>

  <%= race.name %>

  <% race.nominations.sort.each do |nomination| %>

    list nominees, link to second/vote

  <% end %>

  add new nomination (allow for `race.grouping` number of nominees)
  todo: flag for "have to have this number" vs "may have this number"

  <hr>

<% end %>

<!-- todo for admins only -->


</article>