<article>
<% if has_permission? "adminElection" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_voting_path(@voting) %></div>
<% end %>

<h1><%= @voting.name %></h1>
<h2><%= @voting.voting_type.capitalize %></h2>

<p>
  <b>Open date:</b>
  <%= @voting.open_date.strftime("%A, %B %-d") %>
</p>

<p>
  <b>Close date:</b>
  <%= @voting.close_date.strftime("%A, %B %-d") %>
</p>

<p>
  <b>Vote date:</b>
  <%= @voting.vote_date.strftime("%A, %B %-d") %>
</p>

</article>

<% @voting.races.each do |race| %>
  <article>
  <h1><%= race.name %></h1>
  <div>
    <% race.nominations.select{|n|n.votes.count > 0}.sort.each do |nomination| %>
      <% unless @voting.election? and @voting.closed_for_nominations? and 
          (nomination.rejected? or (nomination.votes.count < 2)) %>
          <%= render nomination %>
      <% end %>
    <% end %>

    <% unless @voting.closed_for_nominations? %>
      Nominate someone!
    <% end %>
  </div>
  </article>
<% end %>
