<article>

<p id="notice"><%= notice %></p>

<p>
  <b>Voting Type:</b>
  <%= @voting.voting_type %>
</p>

<p>
  <b>Name:</b>
  <%= @voting.name %>
</p>

<p>
  <b>Open date:</b>
  <%= @voting.open_date %>
</p>

<p>
  <b>Close date:</b>
  <%= @voting.close_date %>
</p>

<p>
  <b>Vote date:</b>
  <%= @voting.vote_date %>
</p>

<p>
  <b>Press date:</b>
  <%= @voting.press_date %>
</p>

<%= link_to 'Edit', edit_voting_path(@voting) %> |
<%= link_to 'Back', votings_path %>

</article>

<% @voting.races.each do |race| %>
  <div>
    <article>
      <span class='fright'>
        <a href='javascript:void(0)' onclick="$(this).parent().parent().parent().find('.collapsible').toggle('fast');$(this).find('.showhide').toggle()">
          <span class='showhide hidden'>show</span><span class='showhide'>hide</span>
        </a>
      </span>
      <h1><%= race.name %></h1>
    </article>
    <div class='collapsible'>
      <% race.nominations.sort.each do |nomination| %>

        <%= render "nominations/as_grid_item", :object => nomination %>

      <% end %>
      new nomination
    </div>
  </div>
<% end %>