<article>

<p id="notice"><%= notice %></p>

<p>
  <b>Voting Type:</b>
  <%= @voting.voting_type %>
</p>

<p>
  <b>Name:</b>
  <%= @voting.name %>
</p>

<p>
  <b>Open date:</b>
  <%= @voting.open_date %>
</p>

<p>
  <b>Close date:</b>
  <%= @voting.close_date %>
</p>

<p>
  <b>Vote date:</b>
  <%= @voting.vote_date %>
</p>

<p>
  <b>Press date:</b>
  <%= @voting.press_date %>
</p>

Admin: <%= link_to 'Edit', edit_voting_path(@voting) %>

</article>

<% @voting.races.each do |race| %>
  <div>
    <article>
      <span class='fright'>
        <a class='showhide' href='javascript:void(0)'>
          <span class='showhide hidden'>show</span><span class='showhide'>hide</span>
        </a>
      </span>
      <h1><%= race.name %></h1>
    </article>
    <div class='collapsible'>
      <% race.nominations.sort.each do |nomination|
        show = true
        # only seconded nominations get past the nominations round in elections
        show = false if @voting.election? and nomination.votes < 2 and @voting.closed_for_nominations?
        # only accepted nominations get past the nominations round in elections
        show = false if @voting.election? and !nomination.accepted? and !nomination.rejected? and @voting.closed_for_nominations? %>
        <% if show %>
          <%= render "nominations/as_grid_item", :object => nomination %>
        <% end %>
      <% end %>
      
      <%
      # set up new nomination grid item
      show = true
      show = false if @voting.closed_for_nominations?
      #todo only show if privs allow
      if show %>
        <%= render "shared/as_grid_item", :h1 => "Add New Nomination", :link => true, :href => "javascript:void(0)", :link_class => "addNewNomination" %>
      <% end %>
    </div>
  </div>
<% end %>

<div class='hidden'>
  <div id='newRaceForm'>
    new race form
  </div>
  <div id='newNominationForm'>
    new nomination form
  </div>
  <div id='platformForm'>
    platform form
  </div>
</div>

<!-- todo if admin -->
<a href='javascript:void(0)' class='newRace'><article>
  <h1>New Race</h1>
</article></a>