<% if has_permission? "adminElection" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_voting_path(@voting) %></div>
<% end %>

<center>
  <h1><%= @voting.name %></h1>
  <h2><%= @voting.voting_type.capitalize %></h2>

  <p>
  <b>Open</b>
  <%= @voting.open_date.strftime("%A, %B %-d") %>
  </p>

  <p>
  <b>Vote</b>
  <%= @voting.vote_date.strftime("%A, %B %-d") %>
  </p>
</center>

<% @voting.races.each do |race| %>
  <h1 class="dashed"><%= race.name %></h1>
  <% race.nominations.select{|n|n.votes.count > 0}.sort.each do |nomination| %>
    <% unless @voting.election? && @voting.closed_for_nominations? && 
      (nomination.rejected? || (nomination.votes.count < 2)) %>
      <%= render nomination %>
    <% end %>
  <% end %>

  <% unless @voting.closed_for_nominations? %>
    <br />
    <h4>Nominate</h4>
    <%= simple_form_for race.nominations.build do |f| %>
      <%= f.input :race_id, as: 'hidden', value: race.id %>
      <% race.grouping.times { f.object.nominees.build } %>
      <%= f.fields_for :nominees do |g| %>
        <%= g.input :user_id, collection: [], label: nil, input_html: {class: 'user_identifier'} %>
      <% end %>
      <br />
      <%= f.button :submit, 'Nominate', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>
