<%= form_for(@document_tag) do |f| %>
  <% if @document_tag.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@document_tag.errors.count, "error") %> prohibited this document_tag from being saved:</h2>
    <ul>
    <% @document_tag.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :document_id %><br />
    <%= f.text_field :document_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
