<h1>Listing document_tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Document</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @document_tags.each do |document_tag| %>
  <tr>
    <td><%= document_tag.name %></td>
    <td><%= document_tag.document_id %></td>
    <td><%= link_to 'Show', document_tag %></td>
    <td><%= link_to 'Edit', edit_document_tag_path(document_tag) %></td>
    <td><%= link_to 'Destroy', document_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Document tag', new_document_tag_path %>
