<p class="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_attendee.event_id %>
</p>

<p>
  <b>User:</b>
  <%= @event_attendee.user_id %>
</p>

<p>
  <b>Kind:</b>
  <%= @event_attendee.kind %>
</p>


<%= link_to 'Edit', edit_event_attendee_path(@event_attendee) %> |
<%= link_to 'Back', event_attendees_path %>
