<h1>Auditions<br><small>Sign up for one slot only please.</small></h1><br>
<% if has_permission?("adminCrew") %>
  <%= link_to "Auditions Sheet", group_auditions_path(@group, :pdf), style: "float:right;", class: 'btn btn-success' %>
<% end %>

<%= form_tag '', class: 'audition-recipient-form' do %>
  <%= submit_tag 'Message Selected', class: 'btn btn-primary' %>
<% @auditions.each_key do |day| %>
  <h2><%= @auditions[day].first.start_time.strftime("%A, %B %-d") %></h2>
  <table class="table table-striped">
    <tr>
      <% if has_permission?('adminCrew') %>
        <th>Select</th>
      <% end %>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th>SignUp</th>
      <th>Name</th>
    </tr>
    <% @auditions[day].each do |a| %>
      <tr>
        <td>
        <% if has_permission?('adminCrew')  && a.users.count > 0 %>
          <%= check_box_tag 'recipients[]', encode_recipient(a.users.first.id, a.users.first.name), true,
            class: 'audition-recipient' %>
        <% end %>
        </td>
        <td><%= a.start_time.strftime("%l:%M %p") %></td>
        <td><%= a.end_time.strftime("%l:%M %p") %></td>
        <td><b><%= a.location %></b></td>
        <% if a.event_attendees.count < 1 %>
          <td><%= link_to 'Sign Up', signup_audition_path(a) %></td>
        <% elsif a.users.first == current_user %>
          <td><%= link_to 'Cancel', signup_audition_path(a) %></td>
        <% else %>
          <td><i>Slot Full</i></td>
        <% end %>
        <% if a.event_attendees.count > 0 %>
          <td><%= link_to a.users.first.name, a.users.first %></td>
        <% else %>
          <td><i>None</i></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
<% end %>
