<h1>Auditions<br><small>Sign up for one slot only please.</small></h1><br>
<% @auditions.each_key do |day| %>
  <h2><%= @auditions[day].first.start_time.strftime("%A, %B %-d") %></h2>
  <table class="table table-striped">
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th>SignUp</th>
      <% if has_permission?("adminCrew") %>
        <th>Name</th>
      <% end %>
    </tr>
    <% @auditions[day].each do |a| %>
      <tr>
        <td><%= a.start_time.strftime("%l:%M %p") %></td>
        <td><%= a.end_time.strftime("%l:%M %p") %></td>
        <td><b><%= a.location %></b></td>
        <% if a.event_attendees.count < 1 %>
          <td><%= link_to 'Sign Up', signup_audition_path(a) %></td>
        <% elsif a.users.first == current_user %>
          <td><%= link_to 'Cancel', signup_audition_path(a) %></td>
        <% else %>
          <td><i>Slot Full</i></td>
        <% end %>
        <% if has_permission?("adminCrew") %>
          <% if a.event_attendees.count > 0 %>
            <td><%= link_to a.users.first.name, a.users.first %></td>
          <% else %>
            <td><i>None</i></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>
