<div class="dashboard">
	<div class="dashboard-header">
		<%= link_to 'Recent Threads', message_threads_path %>
	</div>
	<div class="dashboard-container <%= 'dashboard-scroll' if scroll %>">
	<% threads.sort.each do |t| %>
		<div class="dashboard-item">
			<div class="dashboard-time">
				<% if t.recent_message %>
					<%= time_ago_in_words(t.recent_message.created_at) %>
				<% else %>
					never
				<% end %>
			</div>
			<div class="dashboard-title">
				<%= link_to t.subject, t %>
			</div>
			<div class="dashboard-secondary">
				<%= link_to "<i class='icon-envelope'></i>".html_safe, t, class: 'btn btn-mini' %>
			</div>
			<div class="dashboard-description">
				<% if t.recent_message(current_user.id) %>
					<%= link_to t.recent_message.user.name + ':' + t.recent_message.text, t %>
				<% else %>
					Thread Empty
				<% end %>
			</div>
		</div>
	<% end %>
	<% if threads.count < 1 %>
		<center><p style="color:#C1C1C1;">No Threads</p></center>
	<% end %>
	</div>
</div>
