<% form_path = @thread.new_record? ? [@group, @thread] : @thread %>
<%= simple_form_for(form_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :subject %>
	<%= f.input :privacy, collection: ['none', 'group', 'private'] %>
        <div id="member-select-contain" class="<%= @thread.new_record? || @thread.privacy != 'private' ? 'member-select-hide' : '' %>">
          <label for="recipients">Select Recipients: </label>
          <input type="text" id="recipients" name="message_thread[recipients]">
	</div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>
<% end %>

<%= content_for(:javascripts) do %>
	<script type="text/javascript">
		$("#member_select").multiselect();
		$("select[name='message_thread[privacy]']").change(function(){
			if ($(this).find(":selected").text() == 'private')
			{
				$("#member-select-contain").removeClass('member-select-hide');
			}
			else
			{
				$("#member-select-contain").addClass('member-select-hide');
			}
		});
                $("#recipients").tokenInput("<%= group_path(@group) %>/tokens", {theme: 'facebook', prePopulate:<%= @thread.new_record? ? '{}' : @thread.recipients.to_json.html_safe %>});
	</script>
<% end %>
