<%= simple_form_for(@thread) do |f| %>
  <%= f.error_notification %>

  <% if @parent %>
    <%= f.hidden_field :group_id, value: @parent.id %>
  <% end %>

  <div class="form-inputs">
	<%= f.input :subject %>
	<%= f.input :privacy, collection: ['none', 'group', 'closed'] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create Thread" %>
  </div>
<% end %>
