<% unless @group %>
	<div class="dashboard">
		<div class="dashboard-header">
			<h1>Messages</h2>
		</div>
		<div class="dashboard-container">
<% end %>
<div class="thread-container">
<% @threads.sort.each do |thread| %>
	<% message = thread.recent_message %>
	<div class="thread">
		<div class="thread-recent-time"><%= message ? time_ago_in_words(message.created_at) : 'never' %></div>
		<div class="thread-subject"><%= link_to thread.subject, thread %></div>
		<div class="thread-recent-sender"><%= message ? link_to(message.user.name, message.user) : '' %></div>
		<div class="thread-buttons">
			<%= link_to "<i class='icon-envelope'></i> View Thread".html_safe, thread, class: 'btn' %>
		</div>
		<div class="thread-recent-message"><%= message ? message.text : 'Thread Empty' %></div>
	</div>
	<div class="thread-clear"></div>
<% end %>
</div>

<br />

<% if @group && has_permission?('adminGroup') %>
	<%= link_to "<i class='icon-plus'></i> Create New Thread".html_safe, new_group_message_thread_path(@group), 
	class: 'btn btn-success' %>
<% end %>
<% unless @group %>
		</div>
	</div>
<% end %>
