<div class="span8">
<div class="message-container">
<% @thread.messages.each do |message| %>
	<%= render 'messages/message', message: message %>
<% end %>
</div>
<div class="message-form">
<%= simple_form_for [@thread, Message.new], remote: true do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :priority, value: 'none' %>
	<%= f.input :text, label: false, input_html: {rows: 1, cols: 60, style: 'resize:none;', onKeyPress: 'submitMe()'}, class: 'message-textarea' %>
	<%= f.button :submit, value: 'Send', class: 'message-submit' %>
<% end %>
</div>
</div>

<div class="span4">
	<center>
	<div class="thread-title">
	<h2><%= @thread.subject %></h2>
	</div>
	
	<p>Messages: <%= @thread.messages.count %></p>
	<p>Privacy: <span class="label label-<%= MessageThread::COLORS[@thread.privacy] %>"><%= @thread.privacy.capitalize %></span></p>
	<p>Members:</p>
	<ul class="unstyled member-list">
		<% @thread.members.each do |m| %>
			<li><%= render partial: 'users/user', locals: {user: m} %></li>
		<% end %>
	</ul>
	</center>
</div>

<%= content_for(:javascripts) do %>
<script type='text/javascript'>
	$(document).ready(function(){
		$("textarea[name='message[text]']").autoGrow();
	});
	
	var shifted = false;
	
	$(document).bind('keyup keydown', function(e){shifted = e.shiftKey} );
	
	function submitMe() { 
		if (window.event.keyCode == 13 && !shifted) 
		{ 
			$('.message-form > form').submit();
		} 
	}
	
	$(".message-container").animate({ scrollTop: $('.message-container').prop('scrollHeight') - $('.message-container').height()}, 1000);
</script>
<%= subscribe_to '/messages/' + @thread.id.to_s %>
<% end %>