<div class="span8">
<div class="message-container">
<% @thread.messages.each do |message| %>
	<%= render 'messages/message', message: message %>
<% end %>
</div>
<div class="message-form">
<%= simple_form_for [@thread, Message.new], remote: true do |f| %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.input :text, label: false, input_html: {rows: 1, cols: 60, style: 'resize:none;'}, class: 'message-textarea' %>
	<% if @parent.nil? || has_permission?('adminCrew') %>
	<%= f.input :priority, collection: {'None' => 'none', 'Email' => 'email', 'Text Message' => 'text_message'}, value: 'none', include_blank: false %>
	<% else %>
	<%= f.hidden_field :priority, value: 'none' %>
	<% end %>
<% end %>
</div>
</div>

<div class="span4">
	<center>
	<div class="thread-title">
	<h2><%= @thread.subject %></h2>
	</div>
	
	<% if @parent.nil? || has_permission?('adminCrew') %>
		<p><%= link_to 'Delete', @thread, class: 'btn btn-mini btn-danger', method: :delete %></p>
		<p><%= link_to 'Update', edit_message_thread_path(@thread), class: 'btn btn-info', style: 'margin-bottom:10px;' %></p>
	<% end %>
	
	<p>Messages: <%= @thread.messages.count %></p>
	<p>Privacy: <span class="label label-<%= MessageThread::COLORS[@thread.privacy] %>"><%= @thread.privacy.capitalize %></span></p>
	<p>Members:</p>
	<ul class="unstyled member-list">
		<% @thread.members.each do |m| %>
			<li><%= render partial: 'users/user', locals: {user: m} %></li>
		<% end %>
	</ul>
	</center>
</div>

<%= content_for(:javascripts) do %>
<script type='text/javascript'>
	$(document).ready(function(){
		$("textarea[name='message[text]']").autoGrow();
		$("abbr.timeago").timeago();
	});
	
	var shifted = false;
	
	$(document).bind('keyup keydown', function(e){shifted = e.shiftKey} );
	
	$("textarea[name='message[text]']").keyup(function(event) { 
		if (event.which == 13 && !shifted) 
		{ 
			$('.message-form > form').submit();
			$("textarea[name='message[text]']").val("");
			$("select[name='message[priority]']").val("none");
		} 
	});
	
	$(".message-container").animate({ scrollTop: $('.message-container').prop('scrollHeight') - $('.message-container').height()}, 400);
</script>
<%= subscribe_to '/messages/' + @thread.id.to_s %>
<% end %>