<center>
<div class="thread-title">
<h2><%= @thread.subject %></h2>
</div>
</center>
<div class="message-container">
<% @thread.messages.each do |message| %>
	<div class="message">
		<%= image_tag message.user.headshot(:thumb), class: 'message-sender-headshot' %>
		<div class="message-time"><%= time_ago_in_words(message.created_at) %></div>
		<div class="message-sender"><%= link_to message.user, message.user.name %></div>
		<div class="message-text"><%= simple_format(message.text) %></div>
	</div>
<% end %>

<%= simple_form_for [@thread, Message.new], remote: true do |f| %>
	<%= f.hidden_field :message_thread_id, value: @thread.id %>
	<%= f.hidden_field :user_id, value: current_user.id %>
	<%= f.hidden_field :priority, value: 'none' %>
	<%= f.input :text, label: 'Message', input_html: {rows: 1, cols: 80, style: 'resize:none;'} %>
	<%= f.button :submit %>
<% end %>
</div>

<%= content_for(:javascripts) do %>
<script type='text/javascript'>
	$(document).ready(function(){
		$("textarea[name='message[text]']").autoGrow();
	});
</script>
<% end %>