<%= form_for(@item_subcategory) do |f| %>
  <% if @item_subcategory.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@item_subcategory.errors.count, "error") %> prohibited this item_subcategory from being saved:</h2>
    <ul>
    <% @item_subcategory.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :infix %><br />
    <%= f.text_field :infix %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.text_field :category_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
