<h1>Listing item_subcategories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Infix</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @item_subcategories.each do |item_subcategory| %>
  <tr>
    <td><%= item_subcategory.name %></td>
    <td><%= item_subcategory.infix %></td>
    <td><%= item_subcategory.category_id %></td>
    <td><%= link_to 'Show', item_subcategory %></td>
    <td><%= link_to 'Edit', edit_item_subcategory_path(item_subcategory) %></td>
    <td><%= link_to 'Destroy', item_subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item subcategory', new_item_subcategory_path %>
