<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item_subcategory.name %>
</p>

<p>
  <b>Infix:</b>
  <%= @item_subcategory.infix %>
</p>

<p>
  <b>Category:</b>
  <%= @item_subcategory.category_id %>
</p>


<%= link_to 'Edit', edit_item_subcategory_path(@item_subcategory) %> |
<%= link_to 'Back', item_subcategories_path %>
