<%= nested_form_for(@kudo) do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nominations_open %><br />
    <%= f.date_select :nominations_open %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.date_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.date_select :end %>
  </div>
  <div class="field">
    <%= f.label :woodscotch %><br />
    <%= f.date_select :woodscotch %>
  </div>

  <div class="field">
    <%= f.fields_for :kawards do |k| %>
       <div class="field">
       <%= k.label :name %>
       <%= k.text_field :name %>
       </div>
       <div class="field">
	   <%= k.label :description %>
	   <%= k.text_field :description %>
	   </div>
	   <%= k.link_to_remove "Remove" %>
    <% end %>
    <%= f.link_to_add "Add a Kudo", :kawards %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
