<%= form_for(@kudo) do |f| %>
  <% if @kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% @kudo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nominations_open %><br />
    <%= f.datetime_select :nominations_open %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :end %><br />
    <%= f.datetime_select :end %>
  </div>
  <div class="field">
    <%= f.label :woodscotch %><br />
    <%= f.datetime_select :woodscotch %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
