<% selected = false unless selected %>
<div id='<%= group.id %>' class='groupButton long' onclick='toggle(<%= group.id %>)' title='<%= group.name %>' selected=<%= selected %>>
  <%= group.name %>
</div>