<% group = object %>

<%= div_for group, :class => 'line-item' do %>
    <div class='fleft line-item-image'>
      <%= link_to image_tag(group.image(:thumb)), url_for(group) %>
    </div>
  <%= link_to url_for(group) do %>
    <h2><%= group %></h2>
    <h3><%= [group.archived? ? "archived" : nil, group.type.to_s].compact.join(" ")%></h3>
    <span style='color:#333;font-weight:normal;'>
      <%= truncate(raw(textilize_without_paragraph(group.description)), :length => 250, :omission => "…") %>
    </span>
  <% end %>
<div class='clearfix'></div>
<% end %>
