<%
#defaults
#object = object
#href = url_for(object) unless href
#link = true unless link

#model-specific
#line_1 = "#{object.to_s}" unless line_1
#line_2 = line_2
#image = image_tag(object.image(:thumb)) unless image

#render "shared/as_line_item", :link => link, :href => href, :line_1 => line_1, :line_2 => line_2, :image => image
%>

<!-- FIXME: Horrable hack with <br>s at the end of this -->
<div class="groupListing" style="margin-bottom: 5px; margin-top: 5px" >
  <%= link_to object do %>
    <span class="fleft" style="padding: 3px 7px 3px 3px"><%= image_tag(object.image(:thumb)) %></span>
    <h2><%= object %></h2> 
  <% end %>
  <% if object.archived? %><span style="text-transform: uppercase; color: #CAA;">archived</span><% end %>
  <span style="text-transform: uppercase; color: #AAA;"><%= object.type %></span>
  <span class="groupDescription"><%= raw truncate(textilize_without_paragraph(object.description), :length => 250, :omission => "…") %></span>
  <div id="clearfix"></div>
</div>
