<p class="notice"><%= notice %></p>

<h1><%= @group.name %></h1>
<% if @group.parent %><p style="font-size: 8px;">Child of <%= @group.parent %></p><% end %>

<p>
  <%= @group.description %>
</p>

<h3>Membership</h3>
<% if @group.positions.count == 0 %>
  <p>This group does not have any members!?</p>
<% else %>
<ul>
  <% @group.positions.each do |p| %>
    <li><%= p.user %> (<%= p %>)</li>
  <% end %>
</ul>
<% end %>

<%= link_to 'Edit this group', edit_group_path(@group) %>
