<% 
  user = object 
  style = style
%>

<%= div_for user, :class => 'line-item line-item-user', :style => style do %>
  <div class='fleft line-item-image'>
    <%= link_to image_tag(user.headshot(:thumb)), url_for(user) %>
  </div>
  <%= link_to url_for(user) do %>
    <h2><%= user %></h2>
  <% end %>
  <span style='color:#333;font-weight:normal;'><%= yield %></span>
  <div class='clearfix'></div>
<% end %>
