<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.phone_field :phone %>
  </div>
  <div class="field">
    <%= f.label :home_college %><br>
    <%= f.text_field :home_college %>
  </div>
  <div class="field">
    <%= f.label :smc %><br>
    <%= f.text_field :smc %>
  </div>
  <div class="field">
    <%= f.label :graduation_year %><br>
    <%= f.text_field :graduation_year %>
  </div>
  <div class="field">
    <%= f.label :residence %><br>
    <%= f.text_field :residence %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label "Birthday" %><br>
    <%= f.select :birthday, (1..31), :prompt => "Day" %>
    <%= f.select :birthmonth, (1..12).map {|i| [["January","February","March","April","May","June","July","August","September","October","November","December"][i-1],i] }, :prompt => "Month" %>
    <%= f.select :birthyear, (Time.now.year.to_i-80..Time.now.year.to_i-10), :prompt => "Year"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
