<div class="tabbable">
	<ul class="nav nav-pills">
		<% @years.each_with_index do |year, i| %>
				<li class="<%= 'active' if i == 0 %>"><%= link_to "#{year.first.year} - #{year.last.year}", "##{year.first.year}", 
				'data-toggle' => 'tab' %></li>
		<% end %>
	</ul>
	<div class="tab-content">
		<% @years.each_with_index do |year, i| %>
		<div class="tab-pane <%= 'active' if i==0 %>" id="<%= year.first.year %>">
			<% show_positions = @user.positions_during(year, "Show") %>
			<% if show_positions.length > 0 %>
				<div style='display: inline-block; width:100%; float:left'>
				<h1>Production History</h1>
				<table style='width:`100%'>
				<% grid = show_positions.inject({}) { |acc,pos|
				if acc[pos.group].nil?
				acc[pos.group] = [pos]
				else
				acc[pos.group] += [pos]
				end
				acc
				} %>
				<% odd = "#eee" %>
				<% (grid.sort_by { |k,v| k.archive_date }).each { |show,pos|
				positions = pos.map { |p| 
				if p.role.to_s == "Cast" 
				"<em>as " << p.to_s << "</em>"
				elsif p.role.to_s == "Tech Head" or p.role.to_s == "Production Staff"
				"<strong>" << p.to_s << "</strong>" 
				else 
				p.to_s 
				end 
				}
				positions = positions.join "<br/>" %>
				<tr style='background: <%= odd %>'><td style='padding:3px; width: 50%'><%= link_to show.to_s, show_path(show) %></em></td><td style='padding:3px'><%= raw positions %></td></tr>
				<% odd = odd == "#eee" ? "white" : "#eee" %>
				<% } %>

				</table>
				</div><!-- pane -->
			<% end %>
			</div>
		<% end %>
	</div>
</div>
