<article>
<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class='halves-split'>
  <div class='half fleft'>
    <div style='padding: 15px; background: #333; -moz-border-radius: 8px; -webkit-border-radius: 8px'>
      <div class='fleft' style='margin-right: 20px'>
				<%= image_tag @user.headshot.url(:medium), :style => 'border: 1px solid white'%>
			</div>
	    <h1 style='color:#fff'><%= @user %></h1>
	    <a class="email" href="mailto:<%= @user.email %>"><%= @user.email %></a><br/>
			<%= f.label :headshot %><%= f.file_field :headshot, :style => "width:200px; color:white" %>
      <div class='clearfix'></div>
    </div>
  </div>
  <div class='half fright'>
    <% if @user == current_user %>
      <div class="edit_link"><small><%= link_to "Change email or password.", edit_registration_path(User) %></small></div>
    <% end %>
    <h1>Personal Information</h1>
    <% if @user == current_user %>
    <% end %>
    <table>
      <tr><td style='width:150px'><%= f.label :phone %></td><td><%= f.text_field :phone %></td></tr>
      <tr><td><%= f.label :email %></td><td><%= @user.email %></td></tr>
      <tr><td><%= f.label :andrewid, "Andrew ID" %></td><td><%= @user.andrewid %></td></tr>
      <tr><td><%= f.label :smc %></td><td><%= f.text_field :smc %></td></tr>
      <tr style='height:1em'></tr>
      <tr><td><%= f.label :residence %></td><td><%= f.text_field :residence %></td></tr>
      <tr><td><%= f.label :gender %></td><td>
          <%= f.radio_button :gender, "male" %> Male
          <%= f.radio_button :gender, "female" %> Female
      </td></tr>
      <tr><td><%= f.label :birthday %></td><td><%= f.text_field :birthday %></td></tr>
      <tr><td>Age</td><td><%= @user.age %></td></tr>
      <tr style='height:1em'></tr>
      <tr><td><%= f.label :graduation_year %></td><td><%= f.text_field :graduation_year %></td></tr>
      <tr><td><%= f.label :home_college %></td><td><%= f.select :home_college, [""]+User::HOME_COLLEGES %></td></tr>
      <tr><td><%= f.label :majors %></td><td><%= f.text_field :majors %></td></tr>
      <tr><td><%= f.label :minors %></td><td><%= f.text_field :minors %></td></tr>
      <tr style='height:1em'></tr>
      <tr><td><%= f.label :other_activities %></td><td><%= f.text_field :other_activities %></td></tr>
      <tr><td><%= f.label :about %></td><td><%= f.text_area :about, :cols => 42, :rows => 10 %></td></tr>
    </table>
		<br/>
		<%= f.submit %>
  </div>
  <div class='clearfix'></div>
</div>

<% end %>
</article>
