<p class="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>
<p>
  <b>Home College:</b>
  <%= @user.home_college %>
</p>
<p>
  <b>SMC:</b>
  <%= @user.smc %>
</p>
<p>
  <b>Graduation Year:</b>
  <%= @user.graduation_year %>
</p>
<p>
  <b>Residence:</b>
  <%= @user.residence %>
</p>
<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
