<div id="hcard-<%= @user.first_name %>-<%= @user.last_name %>" class="vcard">
 <h2 class="fn"><%= @user %></h2>
 <div class="org"><%= @user.home_college %> Class of <%= @user.graduation_year %></div>
 <a class="email" href="mailto:<%= @user.email %>"><%= @user.email %></a>
 <div class="adr">
  <div class="street-address"><%= @user.residence %></div>
 </div>
 <div class="adr">
  <div class="street-address">SMC <%= @user.smc %></div>
 </div>
 <div class="tel"><%= @user.phone %></div>
</div>

<div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>

<div class="groups">
	<h3><%= @user.first_name %>'s Groups</h3>
	<ul>
		<% @user.positions.each do |p| %>
			<li><%= link_to p.group, p.group %> as <%=h p %>.</li>
		<% end %>
	</ul>
</div>
