<% unless @user.public_profile %>
  <h1>Sorry, but this user has hidden their profile.</h1>
<% end %>

<% if @user.public_profile || has_permission?("adminUser") %>
  <div class="row">
    <div class="col-md-4">
      <% if @user == current_user or has_global_permission? "adminUsers" %>
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, edit_user_path(@user) %>
      <% end %>
      <center>
        <%= image_tag @user.headshot.url(:medium), :style => 'border: 1px solid white' %>
        <h1><%= @user %></h1>

        <div class="panel panel-<%= @user.active_member? ? 'success' : 'danger' %>">
          <div class="panel-heading">
            <%= @user.active_member? ? 'Active' : 'Inactive' %>
          </div>
          <div class="panel-body">
            <p><strong>Email: </strong><a class="email" href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
          </div>
        </div>
        
        <p>
        <% @user.recent_groups(6).each do |g| %>
          <%= link_to image_tag(g.image.url(:thumb), :style => "margin: 13px 7px 0px 0px", :alt => g.name), g %>
        <% end %>
        </p>
      </center>
      <h1 style='margin-bottom: 10px'>About</h1>
      <table>
        <tr><td style='width:150px; text-transform:uppercase; font-weight:bold'>Phone</td><td><%= @user.phone %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Email</td><td><%= @user.email %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Andrew ID</td><td><%= @user.andrewid %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>SMC</td><td><%= @user.smc %></td></tr>
        <tr style='height:1em'></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Residence</td><td><%= @user.residence %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Sex</td><td><%= @user.gender %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Birthday</td><td><%= @user.birthday %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Age</td><td><%= @user.age %></td></tr>
        <tr style='height:1em'></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Graduation Year</td><td><%= @user.graduation_year %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>School</td><td><%= @user.home_college %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Major(s)</td><td><%= @user.majors %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Minor(s)</td><td><%= @user.minors %></td></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Tech Skills</td><td><%= @user.tech_skills %></td></tr>
        <tr style='height:1em'></tr>
        <tr><td style='text-transform:uppercase; font-weight:bold'>Other Activities</td><td><%= @user.other_activities %></td></tr>
      </table>
    </div>
    <div class="col-md-8">
      <p>
      <%= render 'production_history'%>
      </p>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<% end %>
