<% if @user == current_user or has_global_permission? "adminUsers" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_user_path(@user) %></div>
<% end %>
<%= image_tag @user.headshot.url(:medium) %>
<div id="hcard-<%= @user.first_name %>-<%= @user.last_name %>" class="vcard">
 <h2 class="fn"><%= @user %></h2>
 <a class="email" href="mailto:<%= @user.email %>"><%= @user.email %></a>
 <% if (current_user == @user) || @user.public_profile || (has_global_permission? "adminUsers") %>
   <div class="org"><%= @user.home_college %> Class of <%= @user.graduation_year %></div>
   <div class="adr">
     <div class="street-address"><%= @user.residence %></div>
   </div>
   <div class="adr">
     <div class="street-address">SMC <%= @user.smc %></div>
   </div>
   <div class="tel"><%= @user.phone %></div>
   <% if @user.birthday %>
     <div>Birthday: <%= format_date(@user.birthday) %></div>
     <div>Age: <%= @user.age %></div>
   <% end %>
 <% end %>
</div>


<div class="groups">
	<h3><%= @user.first_name %>'s Groups</h3>
	<ul>
		<% @user.positions.each do |p| %>
			<li><%= link_to p.group, p.group %> as <%=h p %>.</li>
		<% end %>
	</ul>
</div>
