<div id='post_<%= post.id %>' class="feedpost">
  <a name='feedpost_<%= post.id %>'></a>
  <div class='feedpost-image'>
    <%= raw as_icon(post.reference, '') %>
  </div>
  <div class='feedpost-text'>
    <div class="headline">
      <%= link_to post.user, post.user %> 
      <%= post.headline %>
      <strong><%= link_to post.reference, post.reference %></strong>

      <span class='delete_link fright hidden'>
      <% if current_user == post.user %>
        <%= link_to image_tag("delete_icon.png", :size => "8x8"), 'javascript:void(0)', :onclick => "delete_post(#{post.id})" %>
      <% end %>
      </span>

    </div>
    
    <%= raw simple_format post.body %>

    <br>
    <small style='color:#bbb'>Posted 
      at <%= format_time post.created_at %>
    <% if current_page?(:controller => :dashboard, :action => :index) or current_page?(root_url) %>
      on <%= link_to post.parent, post.parent %>
    <% end %>
    </small>
  </div>
  <div class='clearfix'></div>
</div>
