<%= form_for(@feedpost) do |f| %>
  <% if @feedpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feedpost.errors.count, "error") %> prohibited this feedpost from being saved:</h2>

      <ul>
      <% @feedpost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_type %><br />
    <%= f.text_field :post_type %>
  </div>
  <div class="field">
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
