<article>
  <p id="notice"><%= notice %></p>

  <p>
    <b>Parent:</b>
    <%= @feedpost.parent_id %>
  </p>

  <p>
    <b>User:</b>
    <%= @feedpost.user_id %>
  </p>

  <p>
    <b>Post type:</b>
    <%= @feedpost.post_type %>
  </p>

  <p>
    <b>Headline:</b>
    <%= @feedpost.headline %>
  </p>

  <p>
    <b>Body:</b>
    <%= @feedpost.body %>
  </p>


</article>
<%= render "shared/feedposts", :object => @feedpost %>
