<%
#defaults
object = object
href = url_for(object) unless object.nil? or href
link = link
image = image
h2 = "#{object.to_s}" unless h2
h3 = h3
p = p
href = url_for(object) unless href
%>

<% #FIXME this is not DRY
%>
<div class='line-item'>
<% if link %>
  <% if image %>
    <div class='fleft'>
      <%= link_to image, href %>
    </div>
  <% end %>
  <%= link_to href do %>
    <h2><%= h2 %></h2><h3><%= h3 %></h3><%= (h3)? (' '):('') %><span style='color:#333;font-weight:normal;'><%= p %></span>
  <% end %>
<% else %>
  <% if image %>
     <div class='fleft'>
       <%= image %>
     </div>
   <% end %>
   <h2><%= h2 %></h2><h3><%= h3 %></h3><%= (h3)? (' '):('') %><span style='color:#333;font-weight:normal;'><%= p %></span>
<% end %>
<div class='clearfix'></div>
</div>
