<%
#defaults
object = object
href = url_for(object) unless object.nil? or href
link = link
image = image
text = "#{object.to_s}" unless text
    
# FIXME not DRY
if link %>
  <%= link_to href do %>
  <div class='icon'>
    <%= image %>
    <div><%= text %></div>
  </div>
  <% end %>
<% else %>
  <div class='icon'>
    <%= image %>
    <div><%= text %></div>
  </div>
<% end %>
