<a name='wall'></a>
<article>
      <h1>Wall</h1>
			<script>
				function newPost(button) {
					$(button).hide();
					$('#postform').show({speed:"slow"});
				}
			</script>
      <a class='button' onclick='return newPost(this);'>New Post</a>

      <%# NOTE: If you change this form you will likely need to update submit_feedpost() in walls.js %>
			<div id='postform' style='display:none'>
			<h2>New Post</h2>
      <%= form_for(Feedpost.new({:parent_type => object.class, :parent_id => object.id})) do |f| %>
        <%= f.hidden_field :parent_type, :value => object.class.to_s %>
        <%= f.hidden_field :parent_id, :value => object.id.to_s %>
        <%= f.hidden_field :post_type, :value => "wall" %>
        <%= f.text_field :headline, :placeholder => "Subject", :class => "placeholder-shim" %><br>
        <%= f.text_area :body, :rows => "10", :placeholder => "Message", :class => "placeholder-shim" %><br>
        <small>You can use <%= raw(HelpItem.get("textile").full) %> to format your message!</small><br>

        <% if (object.class.name == "Group" && has_permission?("email")) ||
              (object.class.name == "Board" && object.users.include?(current_user)) then %>
          <%= check_box_tag "email", "email" %>
	        <%= label_tag "email", "Send an email notification." %><br>
        <% elsif object.class.name == "Show" && has_permission?("email") then %>
          <%= label_tag :email_names, "Notify these positions via email" %><br>
	        <%= select_tag :email_names, options_for_select(@group.positions.sort.collect{|p| p.display_name}.uniq), :multiple => true, :size => 6 %><br>
	        <a href="javascript:void(0)" onclick="clearEmailNames()">Clear selection</a><br>
        <% end %>

        <% if object.kind_of? Group %>
          <%= f.label :privacy, "Post Privacy" %>: 
          <% privacy_options = [["All users", "All"], ["Members of this group", "Group"]]
             privacy_options << ["Recipients of the email", "Recipients"] if object.class.name == "Show"
             privacy_options << ["Only site administrators", "Hidden"] 
          %>
          <%= f.select :privacy, options_for_select(privacy_options) %>
          <br>
          <%# FIXME: this should be an autocomplete %>
          <%= label_tag :document_id, "Attach Document" %>: 
          <%= select_tag :document_id, raw("<option>-</option>") + options_from_collection_for_select(Document.where(:group_id => object.id), :id, :name) %>
          <br>
        <% end %>

        <%= f.submit "Post!", :onclick => "return submit_feedpost()" %>
        <%= image_tag "indicator.gif", :class => "hidden", :id => "submitting" %>
        <span class='hidden' id='error_submitting'>Error. Try again?</span>
        <span class='hidden' id='post_invalid'>You need to write something!</span>
      <% end %>
			</div>

      <div id='feedposts'>
      <% for post in object.feedposts.recent %>
        <%= render "feedposts/" + post.post_type, :post => post %>
      <% end %>
      </div>
      <p><%= link_to "See All Posts", url_for([object, Feedpost])%></p>
    <div class='clearfix'></div>
</article>
