<a name='wall'></a>
<article>
  <div class='halves-split'>
    <div class='half fleft'>
      <h1>Wall</h1>
      <ul>
        <% for post in object.feedposts.recent %>
          <li>
            <%= link_to post.headline, post %><br>
            Posted by <%= link_to post.user, post.user %> on <%= format_date post.created_at %>
          </li>
        <% end %>
      </ul>
      <p><%= link_to "See All Posts", url_for([object, Feedpost])%></p>
    </div>
    <div class='half fright'>
      <h1>New Post</h1>
      <%= form_for(Feedpost.new({:parent_type => object.class, :parent_id => object.id})) do |f| %>
        <%= f.hidden_field :parent_type, :value => object.class.to_s %>
        <%= f.hidden_field :parent_id, :value => object.id.to_s %>
        <%= f.hidden_field :post_type, :value => "wall" %>
        <%= f.text_field :headline, :placeholder => "Headline" %><br>
        <%= f.text_area :body, :rows => "10", :placeholder => "Your Posts Goes Here!" %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class='clearfix'></div>
  </div>
</article>
