<% squish_events(events) do |es| %>
  <% if es.length == 1 %> <!-- Standard Event -->
    <% e = es[0] %>
    <div id='event-<%= e.id %>' class='event-list'>
      <h3><%= link_to e, "#show#{e.id}", :onclick => "showEvent(cachedEvents[#{e.id}])" %></h3>
      <%= format_time(e.start_time) %> to <%= format_time(e.end_time) %> at <%= e.location %><br />
      <small><%= raw textilize(e.description) %></small>
    </div>
  <% else %> <!-- Multi-Part Event -->
    <div class='event-list'>
      <h3><%= es[0].title %></h3>
      At <%= es[0].location %><br />
      <small><%= raw textilize(es[0].description) %> </small>
      <ul>
        <% es.each do |e| %>
          <li id='event-<%= e.id %>'><%= link_to format_time(e.start_time), "#show#{e.id}", :onclick=>"showEvent(cachedEvents[#{e.id}])" %>:
          <% e.event_attendees.sort.each do |ea| %>
            <% if e.future? && ea.user.nil? then %>
              <%= link_to "Signup!", signup_event_url(e), :method => :put %>
            <% else %>
              <%= ea.user || "-" %>
            <% end %>
          <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
