<%
dates = Array.new
squish_events(events) do |es| %>
  <div class='event-list'>
    <% if not dates.include? es[0].start_time.strftime("%D")
      dates.push es[0].start_time.strftime("%D")
      day = es[0].start_time.day
      month = es[0].start_time.strftime("%b") %>
      <div class='event-badge'>
        <div class='event-badge-month'><%= month %></div>
        <div class='event-badge-day'><%= day %></div>
      </div>
    <% else %>
      <div class='event-badge-blank'></div>
    <% end %>
    <div class='event-info'>
      <% if es.length == 1 %>
        <h3><%= link_to es[0], "#show#{es[0].id}", :onclick => "showEvent(cachedEvents[#{es[0].id}])" %></h3> &mdash; <%= es[0].location %>
      <% else %>
        <h3><%= es[0].title %></h3> &mdash; <%= es[0].location %>
      <% end %>
      <ul>
        <% es.each do |e| %>
          <li id='event-<%= e.id %>'>
            <% if e.all_day
              block = format_date_range(e.start_time, e.end_time)
            else
              block = format_time_range(e.start_time, e.end_time)
            end %>
            <% if es.length == 1 %>
              <%= block %>.
            <% else %>
              <%= link_to(block, "#show#{e.id}", :onclick=> "showEvent(cachedEvents[#{e.id}])") %>.
            <% end %>
            <% if e.future? %>
              <% if e.privacy_type == "closed" %>
                This event is closed.
              <% elsif e.privacy_type == "limited" and e.attendees.count == e.attendee_limit %>
                This event is full.
              <% else %>
                <% if e.attendees.count > 0 %>
                  <%= e.attendees.count %> attending.
                <% end %>
                <% if e.privacy_type == "limited" %>
                  <%= pluralize e.attendee_limit-e.attendees.count, "slot remains", "slots remain" %>.
                <% end %>
                <% if e.attendees.include? current_user %>
                  <span id='attending<%= e.id %>'><a href='javascript:void(0)' onclick='attend(false,<%= e.id %>)'>I'm not attending.</a></span>
                  <span id='notAttending<%= e.id %>' class='hidden'><a href='javascript:void(0)' onclick='attend(true,<%= e.id %>)'>I'm attending.</a></span>
                <% else %>
                  <span id='attending<%= e.id %>' class='hidden'><a href='javascript:void(0)' onclick='attend(false,<%= e.id %>)'>I'm not attending.</a></span>
                  <span id='notAttending<%= e.id %>'><a href='javascript:void(0)' onclick='attend(true,<%= e.id %>)'>I'm attending.</a></span>
                <% end %>
                <span id='attendingDisabled<%= e.id %>' class='hidden' style='color:#ddd'>I'm attending.</span>
                <span id='notAttendingDisabled<%= e.id %>' class='hidden' style='color:#ddd'>I'm not attending.</span>
                <img id='attendLoading<%= e.id %>' class='hidden' src='/images/indicator.gif'>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
