<article>
<% if has_permission? "adminEvents" %>
  <%= render "shared/new_event_form" %>
  <div class="edit_link"><%= link_to image_tag("add_icon.png", :size => "10x10")+' Create a New Event', "#new", :onclick => "newEvent(#{@group.id},undefined,false);" %></div>
<% end %>
<script>
group_positions[<%= @group.id %>] = <%=raw @group.calendar_positions.to_json %>;
cachedEvents = {}
<% for event in (@events+@past_events) %>
  cachedEvents[<%= event.id %>] = <%= raw(event_to_json(event)) %>
<% end %>
$(function(){
	// if the url has a hash, let's follow the command
	if ($(location).attr('hash')) {
		h = $(location).attr('hash')
		if (h == '#new') {
		  newEvent(<%= @group.id %>, undefined, false)
		} else if (h.match(/\#show/gi)) {
		  showEvent(cachedEvents[parseInt(h.slice(5))])
		} else if (h.match(/\#edit/gi)) {
		  editEvent(cachedEvents[parseIng(h.slice(5))])
		}
	}
});
</script>
<h1>Listing events</h1>

<h2>Future Events</h2>
<%= render :partial => 'list', :locals => {:events => @events} %>
<h2>Past Events</h2>
<%= render :partial => 'list', :locals => {:events => @past_events} %>
</article>
