<% content_for :header %>
<%= stylesheet_link_tag 'fullcalendar', 'cal' %>
<%= javascript_include_tag 'fullcalendar.min', 'jquery-ui-timepicker-addon', 'cal' %>
<% end %>

<article>
<% if has_permission? "adminEvents" %>
  <div class="edit_link"><%= link_to image_tag("add_icon.png", :size => "10x10")+' Create a New Event', "#new", :onclick => "newEvent(#{@group.id},undefined,false);" %></div>
<% end %>
<%= render "shared/new_event_form" %>
<script>
group_positions[<%= @group.id %>] = <%=raw @group.calendar_positions.to_json %>;
cachedEvents = {}
eventIds = []
events = [<%= raw((@events+@past_events).collect { |e| event_to_json(e) }.join(",\n")) %>]
$.each(events, function(k,ev) {
  if ($.inArray(ev.id, eventIds) == -1)
    eventIds.push(ev.id)
  ev.start = new Date(ev.start)
  ev.end = new Date(ev.end)
  cachedEvents[ev.id] = ev
})
$(function(){
	// if the url has a hash, let's follow the command
	if ($(location).attr('hash')) {
		h = $(location).attr('hash')
		if (h == '#new') {
		  newEvent(<%= @group.id %>, undefined, false)
		} else if (h.match(/\#show/gi)) {
		  showEvent(cachedEvents[parseInt(h.slice(5))])
		} else if (h.match(/\#edit/gi)) {
		  editEvent(cachedEvents[parseInt(h.slice(5))])
		}
	}
});
</script>
<h1>Listing events</h1>

<h2>Future Events</h2>
<%= render :partial => 'list', :locals => {:events => @events} %>
<h2>Past Events</h2>
<%= render :partial => 'list', :locals => {:events => @past_events} %>
</article>
