<h1>Listing events</h1>

<% @events.each do |event| %>
  <div>
    <h3><%= link_to event, event %></h3>
    <%= event.start_time %> to <%= event.end_time%> at <%= event.location %>
  </div>
<% end %>

<br />

<%= link_to 'New Event', new_group_event_path(@group) %>
