<div class="page">
<h1><%= @event.title %></h1>

<p><b>Start:</b> <%= @event.start_time.strftime("%a, %b %-d %l:%M %p") %></p>
<p><b>End:</b> <%= @event.end_time.strftime("%a, %b %-d %l:%M %p") %></p>
<p><b>Location:</b> <%= @event.location %></p>
<p><b>Description:</b> <br /> <%= @event.description %></p>
<br/>

</div>
