<h2>
  <%= @event.group %>:
  <%= @event.title %>
</h2>

<p>
  <b>Start:</b>
  <%= @event.start_time %><br />
  <b>End:</b>
  <%= @event.end_time %><br />
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Attendees:</b>
  <% @event.attendees.collect{|ea| ea.user}.sort.each do |u| %>
    <%= link_to u, u %>
  <% end %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<% if has_permission? "adminEvents" %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to @event.group, @event.group %>
