<article>
<% if has_permission? "adminEvents" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+' Edit', edit_event_path(@event) %></div>
<% end %>

<h1>
  <%= link_to @event.title, group_events_path(@event.group, :event_title => @event.title) %>
</h1>

<p>
  <b>Start:</b>
  <%= @event.start_time %><br />
  <b>End:</b>
  <%= @event.end_time %><br />
  <b>Location:</b>
  <%= @event.location %>
</p>

<% if @event.attendees.count > 0 %>
  <p>
  <b>Attendees:</b>
  <%= raw @event.attendees.sort.collect{|u| link_to u, u}.join(", ") %>
  </p>
<% end %>

<p>
  <%= raw textilize(@event.description) %>
</p>
</article>
<%= render "shared/feedposts", :object => @event %>
