<h1><%= @event.title %></h1>

<p><b>Start:</b> <%= @event.start_time.strftime("%a, %b %-d %l:%M %p") %></p>
<p><b>End:</b> <%= @event.end_time.strftime("%a, %b %-d %l:%M %p") %></p>
<p><b>Description:</b> <br /> <%= @event.description %></p>

<%= link_to 'Delete Event', @event, method: :delete,
  confirm: 'Are you sure you want to delete this event?', class: 'btn btn-danger' %>

