<div class="col-sm-12 col-md-3">
  <center>
    <%= image_tag show.image.url(:card), class: 'img-responsive' %>
  </center>
  <h3><%= show.name %></h3>
</div>
<div class="col-xs-12 col-sm-8 col-md-6">
  <%= simple_form_for(@reservation, class: 'form-horizontal') do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, as: :string %>
      <%= f.input :email, as: :string %>
      <%= f.input :event_id, label: 'Performance', collection: show.events.performances, 
        label_method: :showing, value_method: :id, include_blank: false %>
      <%= f.input :amount, input_html: {value: 0, data: { with: show.price_with_id, without: show.price_without_id }} %>
      <%= f.input :with_id, label: 'CMU ID?' %>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="ticket-info">
    <h5>Tickets</h5>
    <ul>
      <p>Performances:</p>
      <% show.events.performances.each do |p| %>
        <li><%= p.show_time %></li>
      <% end %>
    </ul>
    <p class="total">Total: $0</p>
  </div>
  <%= f.button :submit, 'Reserve Tickets', class: 'btn btn-info' %>
</div>
<% end %>
