<div class="span12">
  <div class="section">
    <ul class="properties">
      <li><div class="property">Name:</div> <%= @reservation.name %></li>
      <li><div class="property">Email:</div> <%= @reservation.email %></li>
      <li><div class="property">Confirmation Code:</div> <%= @reservation.confirmation_code %></li>
      <li><div class="property">Show:</div> <%= @reservation.group.name %></li>
      <li><div class="property">Performance:</div> <%= @reservation.show_time %></li>
    </ul>
  </div>
</div>
