<div class="row">
  <div class="col-md-3 col-md-offset-2">
    <%= image_tag @reservation.group.image.url(:card), class: 'img-responsive' %>
  </div>
  <div class="col-md-6">
    <h2><%= @reservation.group.name %></h2>
    <ul class="properties">
      <li><div class="property">Name:</div> <%= @reservation.name %></li>
      <li><div class="property">Email:</div> <%= @reservation.email %></li>
      <li><div class="property">Confirmation Code:</div> <%= @reservation.confirmation_code %></li>
      <li><div class="property">Amount:</div> <%= @reservation.amount %></li>
      <li><div class="property">Performance:</div> <%= @reservation.show_time %></li>
    </ul>
  </div>
</div>
