<h1><%= CheckoutEvent.event_name @checkout_event.event %> Checkout</h1>
<% form_for(@checkout_event) do |f| %>
  <% if @checkout_event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@checkout_event.errors.count, "error") %> prohibited this checkout event from being saved:</h2>
    <ul>
    <% @checkout_event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :checkout_id, :value => @checkout_event.checkout_id %>
  <%= f.hidden_field :event, :value => @checkout_event.event %>
  <%= CheckoutEvent.event(@checkout_event.event)[6] %>:<br>
  <%= f.text_area :notes %><br>
  <%= f.submit "Submit" %>
<% end %>
