<p class="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @checkout_event.event %>
</p>

<p>
  <b>User:</b>
  <%= @checkout_event.user_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @checkout_event.notes %>
</p>


<%= link_to 'Edit', edit_checkout_event_path(@checkout_event) %> |
<%= link_to 'Back', checkout_events_path %>
