<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @election.position %>
</p>

<p>
  <b>Platform:</b>
  <%= @election.platform %>
</p>


<%= link_to 'Edit', edit_election_path(@election) %> |
<%= link_to 'Back', elections_path %>
