<div class="col-md-6 col-md-offset-1">
  <%= image_tag group.image.url, style: "width:100%;" %>
</div>
<div class="col-md-4">
  <div class="production-info">
    <div class="title">
      <h2><%= group.name %></h2>
      <% unless group.writers.empty? %>
        <p>by</p>
        <p><%= group.writers %></p>
      <% end %>
    </div>
    <% unless group.slot.empty? %>
      <p class="coming-soon">-<%= group.show_slot %>-</p>
      <p class="coming-soon"><%= group.location %></p>
    <% end %>
    <p class="description">
      <%= group.description.html_safe %>
    </p>
    <% if group.directors.count > 0 %>
      <div class="directors">
        <span>DIRECTED BY</span> <%= group.display_directors %>
      </div>
    <% end %>
  </div>
  <% if group.events.auditions.future.count > 0 %>
    <center>
      <%= link_to 'Auditions Open', group_auditions_path(group), class: 'btn btn-primary' %>
    </center>
  <% end %>

  <% if group.tickets_available? %>
    <center>
      <%= link_to 'RESERVE TICKETS', ticket_reservations_path, class: 'btn btn-info' %>
      <br><br>
      <% group.events.performances.each do |s| %>
        <p><%= s.showing %></p>
      <% end %>
    </center>
  <% end %>
</div>
