<div class="col-md-7">
  <%= image_tag group.image.url, style: "width:100%;" %>
</div>
<div class="col-md-5">
  <div class="production-info">
    <div class="title">
      <h2><%= group.name %></h2>
      <% unless group.writers.empty? %>
        <p>by</p>
        <p><%= group.writers %></p>
      <% end %>
    </div>
    <% unless group.slot.empty? %>
      <p class="coming-soon">-<%= group.show_slot %>-</p>
    <% end %>
    <p class="description">
    <%= group.description %>
    </p>
    <% if group.directors.count > 0 %>
      <div class="directors">
        <span>DIRECTED BY</span> <%= group.display_directors %>
      </div>
    <% end %>
  </div>
  <% if group.events.auditions.count > 0 %>
    <center>
      <%= link_to 'Auditions Open', group_auditions_path(group), class: 'btn btn-primary' %>
    </center>
  <% end %>
</div>
