<%= simple_nested_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :address %>
    <%= f.input :active %>
    <%= f.input :order_number %>
    <%= f.fields_for :page_sections do |ff| %>
      <%= ff.input :title %>
      <%= ff.input :content %>
      <%= ff.link_to_remove 'Remove Section' %>
    <% end %>
    <%= f.link_to_add 'Add Section', :page_sections %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
