<div class="recruit-page">
<section class="recruit-banner">
  <%= image_tag('recruit1.jpg') %>
  <h1>Scotch'n'Soda Theatre</h1>
</section>
<section class="recruit-intro">
  <h2>About S'n'S</h2>
    <p>
      Scotch’n’Soda is Carnegie Mellon’s only student-run theatre company, and
      we’ve had a strong presence on campus since our humble beginning in 1938.
      It is one of the nation’s oldest student theatre groups, and is one of the 
      oldest and largest student organizations at Carnegie Mellon University.
      This organization provides everyone with the opportunity to try something
      different, to test your abilities, and to discover your interests. Maybe
      you dream of building sets, running rehearsals, or even writing your own
      original plays. Scotch’n’Soda is your chance to try out any and all
      dreams. Over the years, we have had thousands of students involved in our
      numerous productions, several of whom are now famous. We are a diverse group 
      that reaches into many facets of live entertainment and we would love to have you with us!
    </p>
</section>
<div class="recruit-panels">
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <h3>Play Your Own Part</h3>
        <p>
          Maybe right now you are thinking you may want to do some carpentry and build a set, but later you might change your mind. You might want to try your hand at Stage Management, Acting, or even Directing. Scotch'n'Soda's principles and procedures were designed from its very inception to be extremely flexible and let people do what they want.
        </p>
        <p>
          It is an extremely common occurence that members who start off on a tech crew end up being a widely sought-after actor/actress or become a Technical Director in no time at all. In S'n'S, there is no friction when moving between positions in a production. Every production starts with a clean slate and ends up having entirely different cast/staff make-ups.
      </div>
      <div class="recruit-panel center-image">
        <%= image_tag('recruitpart.jpg') %>
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <%= image_tag('recruitsocial.jpg') %>
      </div>
      <div class="recruit-panel">
        <h3>Become Part of a Community</h3>
        <p>
          S'n'S has a very strong social core at its base that drives our members to put in the hard work and dedication necessary to put on high-quality shows. On top of theatre, we also do many fun events throughout the year such as Kennywood trips, formals, BBQs, and other informal gatherings.
        </p>
        <p>
          We are well funded because we have such a strong alumni base thanks to the connections S'n'S builds between its members. Once you join S'n'S, you never truly leave. It becomes part of your identity forever.
        </p>
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <h3>Create Something from Nothing</h3>
        <p>
          All Scotch'n'Soda mainstage productions are loaded-in, tech-rehearsed, performed, and stricken in the time-span of one week due to space constraints. This leads to a fun and exciting process that sees us building an entire stage and set from the ground-up in record time. Our Load-In takes one day in which we construct the entire stage and set and then refine and add to it throughout Tech Week leading up to our performances. At the end of the process, we strike the entire thing in one day, leaving no trace we were ever in the space.
        </p>
      </div>
      <div class="recruit-panel">
        <%= image_tag('recruitbuild.jpg') %>
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <%= image_tag('recruitproposals.jpg') %>
      </div>
      <div class="recruit-panel">
        <h3>Propose a Show</h3>
        <p>
        All Scotch'n'Soda productions throughout the year are chosen via a Show Proposal process in which anyone can propose to direct a show for one of our 5 season slots. This means that anyone, even a freshman, can direct a show in the coming year ranging from a small, one-act play to a full-blown Carnival musical! In fact, last year's December slot production was directed by a freshman.
        </p>
        <p>
          Historically, we have also put on special productions such as read-throughs and workshops of original works throughout the year.
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <h3>Find your Passion</h3>
        <p>
        Scotch'n'Soda has a long lineage of Tony, Oscar, Emmy, (and more) winning alumni. Recent noteables include:</p>
        <ul>
          <li><strong>Stephen Schwartz</strong>Composer/Lyricist, "Pippin"/"Godspell" (both first performed by S'n'S)/"Wicked"</li>
          <li><strong>Javier Grillo-Marxuach</strong>Screenwriter, "Lost"/"Law & Order: SVU"/"Charmed"</li>
          <li><strong>Frank John Gorshin</strong>Actor, Riddler in the live-action TV series "Batman"</li>
          <li><strong>Jerry Adler</strong>Director/Actor, directed 1976 Broadway Revival of "My Fair Lady"</li>
          <li><strong>Lawrence Carra</strong>Director/Instructor, former department chairman School of Drama - Directing</li>
        </ul>
        <p>
          When you join S'n'S, you become a part of this community and get to connect to alumni who are in the field now producing Broadway shows and writing the next TV hits. One day, you too may be one of those alumni.
        </p>
      </div>
      <div class="recruit-panel center-image">
        <%= image_tag('recruitawards.jpg') %>
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <%= image_tag('recruitnpp.jpg') %>
      </div>
      <div class="recruit-panel">
        <h3>Improvise</h3>
        <p>
          The No Parking Players is S'n'S's improv troupe. Twice every week, NPP runs
          improv workshops for students of all skill levels. Twice a month, NPP
          holds public shows around campus. Like all S'n'S activities, NPP
          workshops are open to everyone regardless of experience.
        </p>
      </div>
    </div>
  </section>
  <section class="recruit-panel-section">
    <div class="recruit-panel-container">
      <div class="recruit-panel">
        <h3>Make People Laugh</h3>
        <p>
          Tisbert is a sketch comedy troupe dedicated to writing and performing 
          original works of brief hilarity. It typically puts on two sketch comedy productions a year in between mainstage show slots. It meets twice a 
          week and, of course, no experience is necessary.
        </p>
      </div>
      <div class="recruit-panel">
        <%= image_tag('recruittisbert.jpg') %>
      </div>
    </div>
  </section>
</div>
<section class="recruit-info">
  <h2>Subscribe</h2>
  <div class="recruit-form">
    <%= form_tag subscribe_pages_path do %>
      <%= text_field_tag 'andrew' %><span>@andrew.cmu.edu</span>
      <%= submit_tag 'subscribe' %>
    <% end %>
  </div>
  <p>Subscribe to our public mailing list so you don't miss our recruiting events!</p>
  <h2>Follow Us</h2>
  <div class="social-icons">
    <%= link_to image_tag('facebook.png'), 'http://www.facebook.com/snstheatre' %>
    <%= link_to image_tag('twitter-bird.png'), 'https://twitter.com/snstheatre' %>
  </div>
  <h2>Questions?</h2>
  <p>If you have questions about S'n'S or any of its sub-troupes, email <%= mail_to 'questions@snstheatre.org' %> and the relevant person will get back to you!</p>
</section>
</div>
