<% document = object %>

<%= div_for document, :class => 'line-item' do %>
  <div class='fleft line-item-image'>
    <%
      if document.image_file?
        image = image_tag(document.file.url(:thumb), :size => "50x50")
      else  
        image = image_tag("document_icon.png", :size => "50x50")
      end
    %>
    <%= link_to image, url_for(document) %>
  </div>
  <%= link_to url_for(document) do %>
    <h2><%= document.to_s %></h2>
    <span style='color:#333;font-weight:normal;'><%= document.description %></span>
  <% end %>
<div class='clearfix'></div>
<% end %>
