<%= form_for @form_doc, :html => { :multipart => true } do |f| %>
  <% if @document.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>
    <ul>
    <% @document.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.hidden_field :folder_id, value: nil %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <div class="field">
    <% if @document.file_file_name %>
      Current document: <%= link_to @document.file_file_name, @document.file.url %><br>
    <% end %>
    <%= f.label :file, "New Document" %>:
      <%= f.file_field :file %>
  </div>
  <br />
  <label>Folder: </label>
  <div class="folder_select">
  	<%= link_to 'None', '#', class: 'btn btn-mini btn-danger', id: 'deselect_btn' %>
  	<div id="tree"></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= content_for(:javascripts) do %>
	<script type="text/javascript">
	
                var $.jstree.THEMES_DIR = '/assets/jstree/themes/';
		$('#tree').jstree({
			json_data:{
				data: <%= @group.folder_tree.to_json.html_safe %>
			},
                  plugins:["themes", "json_data", "ui"],
                  "themes": {
                    "theme":"default",
                    "dots": false,
                    "icons": true
                  }
		}).bind("select_node.jstree", function (e, data){
			$("input[name='document[folder_id]']").val(data.rslt.obj.data("id"));
		});
	
		$('#deselect_btn').click(function(){
			$('#tree').jstree('deselect_all');
		});
		
	</script>
<% end %>
