<% if @breadcrumbs %>
<ul class="breadcrumb crumbs">
	<li><%= link_to 'Documents', group_documents_path(@group) %> <span class="divider">/</span></li>
	<% @breadcrumbs.each_with_index do |f, i| %>
		<% if i < @breadcrumbs.count - 1 %>
			<li><%= link_to f.name, f %> <span class="divider">/</span></li>
		<% else %>
			<li class="active"><%= f.name %></li>
		<% end %>
	<% end %>
</ul>
<% end %>

<% if has_permission?("uploadDocument") && @group %>
  <div class="document-upload-link"><%= link_to "<i class='icon-file icon-white'></i> Upload a New document".html_safe,
	new_group_document_path(@group), class: 'btn btn-success' %></div>
  <div class="document-upload-link"><%= link_to "<i class='icon-folder-open icon-white'></i> Create a New folder".html_safe,
	new_group_folder_path(@group), class: 'btn btn-success' %></div>
<% end %>

<% @documents.each do |container| %>
  <% if container.class.model_name == 'Document' %>
  	<%= render 'documents/document', document: container %>
  <% else %>
	<%= render 'folders/folder', folder: container %>
  <% end %>
<% end %>