<article>

<% tag_cloud(@tag_counts, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
  <% if params[:tag] == tag.name %>
    <span class="<%= css_class %>"><%=tag.name%></span>
  <% elsif @group.nil? %>
    <%= link_to tag.name, documents_path(:tag => tag.name), :class => css_class %>
  <% else %>
    <%= link_to tag.name, group_path(@group, :tag => tag.name), :class => css_class %>
  <% end %>
<% end %>

<h1>Listing documents</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <% if has_permission? "uploadDocument" %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% @documents.each do |document| %>
  <tr>
    <td><%= document.name %></td>
    <td><%= link_to 'Show', document %></td>
    <% if has_permission? "uploadDocument" %>
      <td><%= link_to 'Edit', edit_document_path(document) %></td>
      <td><%= link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% unless @group.nil? or not has_permission? "uploadDocument" %>
  <%= link_to 'New Document', new_group_document_path(@group) %>
<% end %>
</article>
