<article>
<p>
  <b>Name:</b>
  <%= @document.name %>
</p>

<p>
  <b>Group:</b>
  <%= @document.group_id %>
</p>

<p>
  <b>Filename:</b>
  <%= @document.filename %>
</p>

<p>
  <b>Mime type:</b>
  <%= @document.mime_type %>
</p>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
</article>
<%= render "shared/feedposts", :object => @document %>
