<% if @breadcrumbs %>
<ul class="breadcrumb crumbs">
	<% @breadcrumbs.each_with_index do |f, i| %>
		<li><%= link_to f.name, f %>
			<% if i < @breadcrumbs.count - 1 %>
			<span class="divider">/</span>
			<% end %>
		</li>
	<% end %>
</ul>
<% end %>
<% if has_permission? "uploadDocument" %>
  <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_document_path(@document) %></div>
<% end %>

<h1><%= @document.name %></h1>

<%= raw textilize @document.description %>

<br>
<p>
<% if @document.file? %>
  <%= image_tag "attachment_icon.png", :size => "16x16" %> <%= link_to @document.name, @document.file.url %>
<% else %>
  Oops, this document went missing!
<% end %>
</p>
