<%= form_for(@checkout) do |f| %>
  <% if @checkout.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@checkout.errors.count, "error") %> prohibited this checkout from being saved:</h2>
    <ul>
    <% @checkout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

   <% if @checkout.group_id %>
     <%= f.hidden_field :group_id %>
   <% else %>
     <div class="field">
       <%= f.label :group_id %><br>
       <% if has_global_permission?("checkoutSelf") or has_global_permission?("checkoutOther") then %>
         <%= f.collection_select :group_id, Group.active.all, :id, :name %>
       <% else %>
         <%= f.collection_select :group_id, current_user.groups.active.select{|g| g.user_has_permission?(current_user,Permission.fetch("checkoutSelf")) || g.user_has_permission?(current_user,Permission.fetch("checkoutOther"))}, :id, :name %>
       <% end %>
     </div>
   <% end %>
  
  <% if has_permission? "checkoutOther" %>
    <div class="field">
      <%= f.label :user_name, "Check out to:" %><br>
      <%= text_field_tag "user_identifier", ("#{@checkout.user.name} #{@checkout.user.email}" or "#{current_user.name} #{current_user.email}") %>
    </div>
  <% end %>
  
  <% if @checkout.item_id %>
    <%= f.hidden_field :item_id, :value => params[:item_id] %>
  <% else %>
    <div class="field">
      <%= f.label :item_catalog_number %><br>
      <%= f.text_field :item_catalog_number %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
