<h1>Listing checkouts for <% if @group %>Group "<%= @group.name %>"<% else %>Item "<%= @item.name %>"<% end %></h1>

<table>
  <tr>
    <% unless @group %><th>Group</th><% end %>
    <th>User</th>
    <% unless @item %><th>Item</th><% end %>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @checkouts.each do |checkout| %>
  <tr>
    <% unless @group %><td><%= link_to checkout.group.name, checkout.group %></td><% end %>
    <td><%= link_to "#{checkout.user.first_name} #{checkout.user.last_name}", checkout.user %></td>
    <% unless @item %><td><%= link_to checkout.item.name, checkout.item %></td><% end %>
    <td><%= link_to 'Show', checkout %></td>
    <td><%= link_to 'Edit', edit_checkout_path(checkout) %></td>
    <td><%= link_to 'Destroy', checkout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if params[:group_id] %><%= link_to 'New Checkout', new_group_checkout_path %>
<% elsif params[:item_id] %><%= link_to 'New Checkout', new_item_checkout_path %><% end %>
  