<article>
<h1>Listing checkouts for <% if @group %>Group "<%= @group %>"<% else %>Item "<%= @item %>"<% end %></h1>

<table>
  <tr>
    <% unless @group %><th>Group</th><% end %>
    <th>User</th>
    <% unless @item %><th>Item</th><% end %>
    <th></th>
    <th></th>
  </tr>

<% @checkouts.each do |checkout| %>
  <tr>
    <% unless @group %><td><%= link_to checkout.group, checkout.group %></td><% end %><!-- #TODO FIXME there must be a prettier way to do this -->
    <td><%= link_to checkout.user, checkout.user %></td><!-- #TODO FIXME there must be a prettier way to do this -->
    <% unless @item %><td><%= link_to checkout.item, checkout.item %></td><% end %><!-- #TODO FIXME there must be a prettier way to do this -->
    <td><%= link_to 'Show', checkout %></td>
  </tr>
<% end %>
</table>

<br>

<% if params[:group_id] %><%= link_to 'New Checkout', new_group_checkout_path %>
<% elsif params[:item_id] %><%= link_to 'New Checkout', new_item_checkout_path %><% end %>
  </article>
