<article>
  <h1>Checkout Info</h1>
  <p>
    <%= link_to @checkout.item, @checkout.item %> is checked out to <%= link_to @checkout.user, @checkout.user %> for <%= link_to @checkout.group, @checkout.group %>. <!-- #TODO FIXME there must be a prettier way to do this --><br>
    <br>
    <b>Checked out by:</b> <%= link_to @checkout.opener, @checkout.opener %><br>
    <b>Checked out on:</b> <%= format_time @checkout.checkout_date %><br>
    <b>Checked in on:</b> <% unless @checkout.open? %><%= format_date @checkout.checkin_date %><% else %>Not checked in yet.<% end %><br>
    <b>Due back:</b> <% if @checkout.has_deadline? %><%= format_date(@checkout.due_date) %><% else %>no duedate set<% end %><br>
    <b>Notes:</b><br>
    <p><%= textilize @checkout.notes %></p>
  </p>

  <% if @checkout.open? && (has_permission? "checkoutOther" or (has_permission? "checkoutSelf" and @checkout.user == current_user))%>
    <h2>Actions</h2>
    <%= form_for @checkout do |f| %>
      <%= f.submit "Set Due Date" %>
      <%= f.date_select :due_date %><br>
    <% end %>
    <%= form_for @checkout do |f| %>
      <%= f.hidden_field :checkin_date, :value => DateTime.now.strftime %><br>
      <%= f.submit "Checkin" %>
    <% end %>
  <% end %>
</article>
