<p>
  <b>Group:</b>
  <%= @checkout.group_id %>
</p>

<p>
  <b>User:</b>
  <%= @checkout.user_id %>
</p>

<p>
  <b>Item:</b>
  <%= @checkout.item_id %>
</p>


<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', group_checkouts_path %>
