<%= form_for(@role) do |f| %>
  <% if @role.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>
    <ul>
    <% @role.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </div>

  <strong>Permissions:</strong><br />
  <table cellpadding="2px" >
	  <tr><th>&nbsp;</th><th>Permission</th><th>Description</th></tr>
	  <% Permission.all.each do |p| %>
		  <tr>
			  <td><%= check_box_tag "permission[#{p.id}", "1", @role.permissions.include?(p) %></td>
			  <td><%= p.name %></td>
			  <td><%= p.description %></td>
		  </tr>
	  <% end %>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
