<% item = object %>
<%= div_for item, :class => 'line-item' do %>
  <%= link_to url_for(item) do %>
    <h2><%= item %></h2>
    <h3><%= item.location %></h3>
    <span style='color:#333;font-weight:normal;'><%= item.description %></span>
  <% end %>
<div class='clearfix'></div>
<% end %>
