<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :area, collection: Area.all, label_method: :name, value_method: :id, include_blank: false %>
    <%= f.input :item_type, collection: Item::TYPES, include_blank: false %>
    <%= f.input :category, collection: Item::CATEGORIES, include_blank: false %>
    <%= f.input :quantity %>
    <%= f.input :description %>
    <%= f.input :picture %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
