<h1>Listing items</h1>

<%= link_to 'New Item', new_item_path %>

<br />

<table>
  <tr>
    <th style='width:60px'>Catalog #</th>
    <th>Name</th>
    <th>Location</th>
    <th>Item category</th>
    <th style='width:120px'></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.catalog_number %></td>
    <td><%= item.shortname %></td>
    <td><%= item.location %></td>
    <td><%= link_to item.item_category.name, item.item_category %></td>
    <td><%= link_to 'Show', item %> |
    <% if item.available? %>
    <%= link_to 'Check Out', new_item_checkout_path(item) %>
    <% else %>
    Unavailable
    <% end %>
  </tr>
<% end %>
</table>