<div class="page">
  <div class="item-search">
    <% if has_permission? 'adminItems' %>
      <%= link_to "<i class='icon-plus'></i> New Item".html_safe, new_item_path, class: 'btn btn-success pull-right' %>
    <% end %>
    <center>
      <%= form_tag :items, url: items_path, method: :get, class: 'form-search' do %>
        <%= select nil, :category, [['All', 'all']] + Item::CATEGORIES, include_blank: false %>
        <div class="input-append">
          <%= text_field_tag :q, '', placeholder: 'Search', class: 'input-medium search-query' %>
          <%= button_tag "<i class='icon-search'></i>".html_safe, type: 'submit', class: 'btn' %>
        </div>
      <% end %>
      <% if params[:category] %>
        <p class='item-results'>Showing <%= params[:category].capitalize %> items <%= !params[:q].empty? ? "matching \"#{params[:q]}\"" : '' %></p>
    <% end %>
    </center>
  </div>
  <div class="inventory-list">
    <% @items.each do |item| %>
      <div class="item clearfix">
        <div class="item-image">
          <%= image_tag item.picture.url(:thumb) %>
        </div>
        <span class="item-title">
          <%= link_to item.name, item %>
        </span>
        <ul class="item-status">
          <li class="status">Available</li>
          <li><b>Amount Available</b><%= "#{item.quantity}/#{item.quantity}" %></li>
          <li><b>Available On</b> Now</li>
        </ul>
        <ul class="item-info">
          <li><b>Area</b> <%= item.area.name %></li>
          <li><b>Category</b> <%= item.category %></li>
          <li><b>Quantity</b> <%= item.quantity %></li>
          <li><b>Description</b> <%= item.description %></li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
