<h1>Listing items</h1>

<table>
  <tr>
    <th>Catalog #</th>
    <th>Name</th>
    <th>Location</th>
    <th>Item category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.catalog_number %></td>
    <td><%= item.name %></td>
    <td><%= item.location %></td>
    <td><%= link_to item.item_category.name, item.item_category %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
