<div class='three-grid'><%= link_to item_categories_path do %>
  <h1>&lt;&lt; Beginning</h1>
  <h2><%= pluralize ItemCategory.parent_categories.count, "Category" %></h2>
<% end %></div>
<div class='three-grid'><%= link_to @item.item_category do %>
  <h1>&lt; <%= @item.item_category.slug or @item.item_category.prefix %> <%= @item.item_category %></h1>
  <h2><%= pluralize @item.item_category.num_items, "Item" %></h2>
<% end %></div>
<div class='three-grid-no-link grid-last'>
  <h1><%= @item %></h1>
  <h2><%= @item.location %></h2>
  <%= link_to "More Info", '#', :onClick => "$('#more').show()" %><br>
  <% if @item.available? and (has_permission? "checkoutSelf" or has_permission? "checkoutOther")-%>
    <%= link_to 'Check Out', new_item_checkout_path(@item) -%>
  <% elsif @item.available?
    #TODO user needs to ask someone to check out item to her.
  else %>
    Unavailable for Checkout
  <% end %>
</div>
<article id='more' class='hidden'>
  <h2>Description</h2>
  <%= @item.description %>
  <h2>Actions</h2>
  <p>
  <%= link_to 'Edit Item', edit_item_path(@item) %><br>
  <% if @item.available? and (has_permission? "checkoutSelf" or has_permission? "checkoutOther")-%>
    <%= link_to 'Check Out', new_item_checkout_path(@item) -%>
  <% elsif @item.available? %>
    Sorry, you don't have permission to check this item out.
  <% else %>
    This item is currently checked out to <%= link_to @item.current_checkout.user, @item.current_checkout.user %> for <%= link_to @item.current_checkout.group, @item.current_checkout.group %>. <!-- #TODO FIXME there must be a prettier way to do this -->
    <% if @item.current_checkout.has_deadline? %>Due back on <%= format_date @item.current_checkout.deadline %>.<% end %>
    <%= link_to "View Checkout", @item.current_checkout %>
  <% end %>
  </p>
</article>
<article>
  <h1>Recent Checkouts</h1>
  <p>
  <% if @checkouts.empty? %>
  No checkouts here!
  <% else %>
  <% @checkouts.each do |checkout| %>
  <%= link_to checkout.opener, checkout.opener %> checked it out
  <% if checkout.opener != checkout.user %>
    to <%= link_to checkout.user, checkout.user %> 
  <% end %>for
  <%= link_to checkout.group, checkout.group %> on <!-- #TODO FIXME there must be a prettier way to do this -->
  <%= format_time checkout.created_at %>. <%= link_to "View Checkout", @item.current_checkout %><br>
  <% end %>
  <p><%= link_to 'View All Checkouts', item_checkouts_path(@item) %></p>
  <% end %>
  </p>
</article>
