<article>
  <h1><%= @item.name %></h1>
  <p>
    <b>Catalog Number:</b>
    <%= @item.catalog_number %>
  </p>

  <p>
    <b>Location:</b>
    <%= @item.location %>
  </p>

  <p>
    <b>Item category:</b>
    <%= link_to @item.item_category.name, @item.item_category %>
  </p>

  <p>
    <b>Description:</b>
    <%= @item.description %>
  </p>

  <h2>Actions</h2>
  <%= link_to 'Edit', edit_item_path(@item) %>, 
  <%= link_to 'Back', items_path %>, 
  <%= link_to 'Destroy', @item, :confirm => 'Are you sure?', :method => :delete -%>
  <% if @item.available? -%>
  , <%= link_to 'Check Out', new_item_checkout_path(@item) -%>
  <% end %>
</article>
<article>
  <h1>Recent Checkouts</h1>
  
</article>
