<div class='grid'>
  <%= render "as_grid_item", :link => true, :href => item_categories_path, :h1 => "<< Beginning", :h2 => pluralize(ItemCategory.parent_categories.count, "Category") %>
  
  <%= render "item_categories/as_grid_item", :link => true, :object => @item.item_category, :h1 => "< #{@item.item_category}" %>
  
  <%= render "as_grid_item", :link => false, :object => @item %>
  
</div>

<article id='more'>
  <%= render "shared/follow_me", :object => @item %>

  <% if has_global_permission? "adminItems" %>
    <div class="edit_link"><%= link_to image_tag("edit_icon.png", :size => "10x10")+'Edit', edit_item_path(@item) %></div>
  <% end %>

  <h2>Description</h2>
  <%= @item.description %>
</article>

<article>
<% if @item.current_checkout.nil? %>
  <h1>Checkout Item</h1>
  <%= form_for(@checkout) do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>

    <div class="field">
      Notes:<br>
      <%= f.text_area :notes, :cols => 60, :rows => 3 %>
    </div>

    <div class="actions">
      <%= f.submit "Checkout Item" %>
    </div>
  <% end %>
<% else %>
  <h1>Current Checkout</h1>
  <%= render @item.current_checkout %>
  <hr>
  <%= form_for(@item.current_checkout) do |f| %>
    <div class="field">
      Checkin Notes:<br>
      <%= text_area_tag :additional_notes, "", :cols => 60, :rows => 3 %>
    </div>
    <div class="actions">
      <%= f.submit "Checkin Item" %>
    </div>
  <% end %>
<% end %>
</article>

<article>
  <h1>Past Checkouts</h1>
  <% if @item.past_checkouts.empty? %>
    No checkouts here!
  <% else %>
    <%= render @item.past_checkouts %>
  <% end %>
</article>

<%= render "shared/feedposts", :object => @item %>
