<p class="notice"><%= notice %></p>

<p>
  <b>Catalog Number:</b>
  <%= @item.catalog_number %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Location:</b>
  <%= @item.location %>
</p>

<p>
  <b>Item category:</b>
  <%= link_to @item.item_category.name, @item.item_category %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
