<h1>Listing watchers</h1>

<table>
  <tr>
    <th>User</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @watchers.each do |watcher| %>
  <tr>
    <td><%= watcher.user_id %></td>
    <td><%= watcher.item_id %></td>
    <td><%= link_to 'Show', watcher %></td>
    <td><%= link_to 'Edit', edit_watcher_path(watcher) %></td>
    <td><%= link_to 'Destroy', watcher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Watcher', new_watcher_path %>
