<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :distribution, collection: [['Scotch', 'scotch'],['Email', 'email'],['Email Entire Group', 'email_all']], label: "Distribution Method", include_blank: false %>
    <div id="recipient-select-contain" class="<%= !@message_list.new_record? && @message_list.distribution == 'email_all' ? 'member-select-hide' : '' %>">
      <div class="control-group optional">
      <label class="control-label">Select groups/crews or just type in names</label>
      <ul class="position-selectors controls unstyled">
        <% @group.calendar_positions.each_with_index do |c, i| %>
          <li>
            <%= link_to c[:name], '#', onClick: "addPositions('recipients','#{c[:name]}'); return false;" %>
            <%= link_to '(remove)', '#', onClick: "removePositions('recipients','#{c[:name]}'); return false;" %>
          </li>
        <% end %>
        <br />
        <%= link_to 'Remove All', '#', onClick: "removePositions('recipients','all'); return false;" %>
      </ul></div>
      <%= f.input :recipients, id: 'recipients', label: 'Select Recipients' %>
    </div>
    <%= f.input :security, collection: [['Anyone can use', 'anyone'],['Only recipients can use','recipients'],['Only certain people can use','members']], include_blank: false %>
    <div id="member-select-contain" class="<%= !@message_list.new_record? && @message_list.security != 'members' ? '' : 'member-select-hide' %>">
      <div class="control-group optional">
      <label class="control-label">Select groups/crews or just type in names</label>
      <ul class="position-selectors controls unstyled">
        <% @group.calendar_positions.each_with_index do |c, i| %>
          <li>
            <%= link_to c[:name], '#', onClick: "addPositions('members','#{c[:name]}'); return false;" %>
            <%= link_to '(remove)', '#', onClick: "removePositions('members','#{c[:name]}'); return false;" %>
          </li>
        <% end %>
        <br />
        <%= link_to 'Remove All', '#', onClick: "removePositions('members','all'); return false;" %>
      </ul></div>
      <%= f.input :members, label: 'Select Members' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= content_for(:javascripts) do %>
  <script type="text/javascript">
    <% if @prepop %>
      $(document).ready(function(){
          $("select[name='message_list[distribution]']").val('<%= @message_list.distribution %>');
          $("#recipient-select-contain").removeClass('member-select-hide');
        });
    <% end %>
    $("select[name='message_list[distribution]']").change(function(){
            if ($(this).find(":selected").val() != 'email_all')
            {
                    $("#recipient-select-contain").removeClass('member-select-hide');
            }
            else
            {
                    $("#recipient-select-contain").addClass('member-select-hide');
            }
    });
    $("select[name='message_list[security]']").change(function(){
            if ($(this).find(":selected").val() == 'members')
            {
                    $("#member-select-contain").removeClass('member-select-hide');
            }
            else
            {
                    $("#member-select-contain").addClass('member-select-hide');
            }
    });
    $("#message_list_recipients").tokenInput("<%= group_path(@group) %>/tokens", {preventDuplicates: true, theme: 'facebook'<%= @message_list.new_record? ? '' : ", prePopulate: #{@message_list.recipient_list.to_json}".html_safe %>});

    $("#message_list_members").tokenInput("<%= group_path(@group) %>/tokens", {preventDuplicates: true, theme: 'facebook'<%= @message_list.new_record? ? '' : ", prePopulate: #{@message_list.member_list.to_json}".html_safe %>});

    $posmembers = <%= @group.calendar_positions.to_json.html_safe %>; 

    function addPositions(element, position)
    {
      $.each($posmembers, function()
      {
        if(position == this.name)
        {
          $.each(this.positions, function()
          {
            $("#message_list_"+element).tokenInput("add", {id: this.id, name: this.user_name});
          });
        }
      });
    }

    function removePositions(element, position)
    {
      $.each($posmembers, function()
      {
        if(position == this.name || position == 'all')
        {
          $.each(this.positions, function()
          {
            $("#message_list_"+element).tokenInput("remove", {id: this.id});
          });
        }
      });
    }
  </script>
<% end %>
