<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @message_list.group_id %>
</p>

<p>
  <b>Name:</b>
  <%= @message_list.name %>
</p>

<p>
  <b>Address:</b>
  <%= @message_list.address %>
</p>

<p>
  <b>Distribution:</b>
  <%= @message_list.distribution %>
</p>

<p>
  <b>Security:</b>
  <%= @message_list.security %>
</p>

<p>
  <b>Recipients:</b>
  <ul class="unstyled">
    <% @message_list.users.each do |u| %>
      <li><%= link_to u, u %></li>
    <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_message_list_path(@message_list) %> |
<%= link_to 'Back', message_lists_path %>
