<p>
  <b>Name:</b>
  <%= @message_list.name %>
</p>

<p>
<b>Recipients (<%= @message_list.recipients.count %>):</b>
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    <% @message_list.recipients.each do |r| %>
      <tr>
        <td><%= r.name %></td>
        <td><%= r.target_type %></td>
      </tr>
    <% end %>
  </table>
</p>

<%= link_to 'Edit', edit_message_list_path(@message_list) %> |
<%= link_to 'Back', group_message_lists_path(@group) %>
