<%= div_for nomination do %>
  <% nomination.nominees.each do |n| %>
    <% if n.is_valid_user? %>
      <div class='pull-left'>
        <%= link_to image_tag(n.user.headshot(:thumb)), url_for(n.user) %>
      </div>
    <% end %>
  <% end %>
  <h2><%= link_to nomination.names, url_for(nomination) %></h2>
  <h3><%= nomination.tagline %></h3><br/ >
  <span style='color:#333;font-weight:normal;'>
    <% if nomination.race.voting.election? %>
      <% if nomination.needs_second? %>
        <% unless nomination.users.include?(current_user) %>
          <%= link_to "Second this nomination", vote_nomination_path(nomination), :method => :post %>
        <% else %>
          You need to be seconded.
        <% end %>
      <% elsif nomination.accepted? %>
        Accepted!
      <% elsif nomination.rejected? %>
        <% if nomination.users.include?(current_user) %>
          <%= link_to "Accept", vote_nomination_path(nomination), class: 'btn btn-success' %>
        <% else %>
          Not accepted.
        <% end %>
      <% end %>

      <% if nomination.users.include?(current_user) %>
        <%= link_to 'Reject', nomination, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure you want to reject this nomination? THIS CANNOT BE UNDONE!' %>
      <% end %>
      <br /><br />
    <% elsif nomination.race.voting.award? %>
      Bug the web team to finish awards...
    <% end %>
  </span>
  <div class='clearfix'></div>
<% end %>
