<div class="page">
<h1>Editing Platform for <%= @nomination %></h1>
<%= form_for(@nomination) do |f| %>
  <p>
  <%= f.label :tagline %><br>
  <%= f.text_field :tagline, :placeholder => "A short, witty remark." %>
  </p>

  <p>
  <%= f.label :platform %>:
  <small>You can use <%= raw(HelpItem.get("textile").full) %></small>
  <%= f.text_area :platform, :rows => "60", :style => "width: 600px; max-width: 1500px", :placeholder => "Why should we elect you?", :class => "placeholder-shim" %><br>
  </p>

  <%= submit_tag %>
<% end %>
</div>
