<% @nomination.nominees.each do |n| %>
  <% if n.is_valid_user? %>
    <div class='fleft line-item-image'>
      <%= link_to image_tag(n.user.headshot(:medium)), url_for(n.user) %>
    </div>
  <% end %>
<% end %>

<h1><%= raw @nomination.nominees.collect{|n| unless n.user_id.nil? then link_to n.user, n.user else n end}.to_sentence %>
  for <%= @nomination.race %>
</h1>
<center><h4><%= @nomination.tagline %></h4></center>
<% if has_permission?("adminElection") or @nomination.users.include?(current_user) %>
  <%= link_to "<i class='glyphicon glyphicon-pencil'></i> Edit".html_safe, edit_nomination_path(@nomination), class: 'btn btn-primary pull-right' %>
<% end %>
<div>
  <% if @nomination.platform && !@nomination.platform.empty?%>
    <%= raw textilize(@nomination.platform) %>
  <% else %>
    <center><h3 style="color: #CCCCCC; font-variant: small-caps;">Platform Unavailable</h3></center>
  <% end %>
</div>

<p>Back to <%= link_to @nomination.voting, voting_path(@nomination.voting) %>.
<div class="clearfix"></div>
<%= render "shared/feedposts", :object => @nomination %>
