<div class="page">
<h1>Report Templates</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>

<% @report_templates.each do |report_template| %>
  <tr>
    <td><%= link_to report_template.name, report_template %></td>
    <td><%= report_template.description %></td>
    <td><%= link_to 'Edit', edit_report_template_path(report_template) %></td>
    <td><%= link_to 'Delete', report_template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report template', new_report_template_path %>
<br />
</div>
