<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @report.name %>
</p>

<p>
  <b>Report Template:</b>
  <%= link_to @report.report_template.name, @report.report_template %>
</p>

<p>
  <b>Creator:</b>
  <%= link_to @report.creator, @report.creator %>
</p>

<p>
  <b><%= @report.report_template.sub_heading %>:</b>
  <%= @report.sub_heading %>
</p>

<p>
  <b><%= @report.report_template.sub_heading2 %>:</b>
  <%= @report.sub_heading2 %>
</p>

<% @report.report_template.report_fields.each do |rf| %>
  <% if rf.field_type == 'section' %>
    <p>
      <b><%= rf.name %></b>
      <% rv = @report.report_values.where(report_field_id: rf.id).first %>
      <% if rv && rv.value.length > 0 %>
        <%= simple_format(rv.value) %>
      <% else %>
        <%= simple_format(rf.default_value) %>
      <% end %>
    </p>
  <% end %>
<% end %>


<%= link_to 'Edit', edit_report_path(@report) %> 
