<% if Group.system_group.users.include? current_user %>
<span id='right-menu' class='admin'><%= link_to "Admin", dashboard_sysadmin_path %></span>
<% else %>
<span id='right-menu' class='feedback'><%= link_to "Feedback", new_feedback_path, :id => 'feedback-form-link' %></span>
<div class='hidden'>
  <div id='feedback-form'>
    <h1>Feedback</h1>
    <p>Please leave us feedback, it's really appreciated.</p>
    <%= form_for @feedback, :as => :feedback, :url => feedbacks_path,:html => {:id => "feedback_form"} do |f| -%>
    <% unless @error_message.blank? %>
    <p class="error">
    	<%=h @error_message %>
    </p>
    <% end %>
    <p>
    	<%= f.label 'subject' %>
    	<%= f.select 'subject', ['Problem', 'Suggestion', 'Question', 'Other'] %>
    </p>
    <p>
      <%= f.label 'comment' %><br />
      <%= f.text_area 'comment', :rows => 10, :cols => 30 %>
    </p>
    <p><%= f.submit 'Send' %></p>

    <% end -%>
  </div>
</div>
<script>
  $(function(){
    $('#feedback-form-link').colorbox({href:"#feedback-form"});
  })
</script>
<% end %>
