<ul>
  <li class='bottomleftcorner'><%= link_to "Home", dashboard_index_path, :class => 'bottomleftcorner' %></li>
  <li><a href='#'>Calendar</a></li>
  <li><a href='#'>Shows</a></li>
  <li><%= link_to "Groups", groups_path %></li>
  <li><%= link_to "Inventory", items_path %></li>
  <li><a href='#'>Resources</a></li>
  <li><%= link_to "Members", users_path %></li>
  <li class='bottomrightcorner'><a href='#' class='bottomrightcorner'>Account</a></li>
  <% if @group && ! @group.new_record? %>
  <div id='subnav'>
    <ul>
      <li><b><%= @group %></b></li>
      <li><%= link_to "Events", group_events_path(@group) %></li>
      <li><%= link_to "Members", group_positions_path(@group) %></li>
      <li><%= link_to "Docs", group_documents_path(@group) %></li>
      <li><%= link_to "Checkouts", group_checkouts_path(@group) %></li>
    </ul>
  </div>
  <% end %>
</ul>