<nav id='nav'>
  <ul>
    <li><%= link_to "Dashboard", dashboard_index_path, :class =>  nav_class(dashboard_index_path) %></li>
    <li><%= link_to "Calendar", dashboard_calendar_path, :class => nav_class(dashboard_calendar_path) %></li>
    <li><%= link_to "Groups", groups_path, :class => nav_class(groups_path) %></li>
    <li><%= link_to "Inventory", item_categories_path, :class => nav_class(item_categories_path) %></li>
    <li><%= link_to "Documents", documents_path, :class => nav_class(documents_path) %></li>
    <li><%= link_to "Members", users_path, :class => nav_class(users_path) %></li>
  </ul>
</nav>
<% if @group && ! @group.new_record? %>
<div id='subnav'>
  <ul>
    <li><b><%= link_to @group, @group %><% if @group.archived? %> (archived)<% end %></b></li>
    <li><%= link_to "Events", group_events_path(@group), :class => nav_class(group_events_path(@group)) %></li>
    <li><%= link_to "Members", group_positions_path(@group), :class =>  nav_class(group_positions_path(@group)) %></li>
    <li><%= link_to "Documents", group_documents_path(@group), :class =>  nav_class(group_documents_path(@group)) %></li>
    <li><%= link_to "Elections", group_votings_path(@group), :class =>  nav_class(group_votings_path(@group)) %></li>
    <% if @group.class.name == "Group" then %>
      <li>
      <% if @group.users.include? current_user then %>
        <%= link_to image_tag("delete_icon.png") + " Leave", leave_group_url(@group), :method => :post %><br />
      <% else %>
        <%= link_to image_tag("add_icon.png") + " Join ", join_group_url(@group), :method => :post %><br />
      <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
