<ul>
  <li><%= link_to "Dashboard", dashboard_index_path, :class =>  nav_class(dashboard_index_path) %></li>
  <li><%= link_to "Calendar", dashboard_calendar_path, :class => nav_class(dashboard_calendar_path) %></li>
  <li><%= link_to "Groups", groups_path, :class => nav_class(groups_path) %></li>
  <li><%= link_to "Inventory", item_categories_path, :class => nav_class(item_categories_path) %></li>
  <li><%= link_to "Members", users_path, :class => nav_class(users_path) %></li>
  <% if Group.system_group.users.include? current_user %>
    <li style="background-color: #FAA"><%= link_to "SysAdmin", dashboard_sysadmin_path %></li>
  <% end %>
  <% if @group && ! @group.new_record? %>
  <div id='subnav'>
    <ul>
      <li><b><%= link_to @group, @group %></b></li>
      <li><%= link_to "Events", group_events_path(@group), :class => nav_class(group_events_path(@group)) %></li>
      <li><%= link_to "Members", group_positions_path(@group), :class =>  nav_class(group_positions_path(@group)) %></li>
      <li><%= link_to "Checkouts", group_checkouts_path(@group), :class =>  nav_class(group_checkouts_path(@group)) %></li>
      <% if @group.class.name == "Group" then %>
        <li>
        <% if @group.users.include? current_user then %>
          <%= link_to image_tag("delete_icon.png") + " Leave this group", leave_group_url(@group), :method => :post %><br />
        <% else %>
          <%= link_to image_tag("add_icon.png") + " Join this group", join_group_url(@group), :method => :post %><br />
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>
</ul>
