<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scotch'n'Soda Theatre</title>
  <meta charset='utf-8'>
  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script>
    // Use this function in the onFocus and onBlur of a form element
    // to do that "clear default value" thing. Taken with gusto from
    // http://www.bradino.com/javascript/clear-textfield-default-value-onclick/
    // then canniablized to fix it a little
    function clearText(field){
      if (field.defaultValue == field.value) field.value = ''
    }
    function putText(field){
      if (field.value == '') field.value = field.defaultValue
    }
  </script>
</head>
<body>
  <div id='wrapper'>
    <div id='bannernocss3' class='banner'></div>
    <div id='banner' class='banner'></div>
    <% if current_user %>
    <span id='logout'><h2><%= link_to "Log Out", destroy_user_session_path %></h2></span>
    <% end %>
    <section>
      <header>
        <h1><a href='/'>Scotch on the Web</a></h1>
        <h2><%= flavortext %></h2>
      </header>
      <nav>
        <% if current_user then %>
          <%= render "layouts/nav" %>
        <% else %>
          <%= render "layouts/login" %>
        <% end %>
      </nav>
      <noscript>
        <article>
          <p>Hey there! It looks like you've got JavaScript turned off.
            Unfortunately, the Powers of the Internet don't work so well without it.
            We've tried to accommodate people in your boat, but the truth is there
            are some landlocked lakes, if you follow the way I've been drifting.
            No guarantees.</p>
        </article>
      </noscript>
      <% if !notice.nil? or !alert.nil? %>
        <article>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </article>
      <% end %>
      <% if yield.include?("<article") %>
        <%= yield %>
      <% else %>
        <article><%= yield %><div class='clearfix'></div></article>
      <% end %>
      <div id='push'></div>
    </section>
    <% if request.domain == "localhost" %>
    <aside>
      <%= debug params %>
    </aside>
    <% end %>
  </div> 
    <footer>
      <b>Scotch on the Web</b> is designed and developed by the Scotch'n'Soda Web Team<br>
      &copy; 2008-2010 <%= link_to "Scotch'n'Soda Theatre", "http://snstheatre.org" %> at <b>Carnegie Mellon University</b><br>
      Current Version <%= render "layouts/version" %> | Help build Scotch on the Web!
    </footer>
    <div id='sodabar'>
      how to do <a href='#'>soda</a>?
    </div>
</body>
</html>
