<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scotch'n'Soda Theatre</title>
  <meta charset='utf-8'>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= yield :header %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9104858-1']);
    _gaq.push(['_setDomainName', '.snstheatre.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  <%= link_to 'Scotch', dashboard_index_path, :class => 'brand' %>
          <div class="container nav-collapse">
			<% if user_signed_in? %>
            <ul class="nav">
				<li class="dropdown notification-dropdown">
					<%= link_to "N", '#', :class => 'dropdown-toggle notification-button', 'data-toggle' => 'dropdown' %>
				    <ul class="dropdown-menu notification-menu">
				      <%= render 'notifications/notification', notifications: current_user.notifications %>
				    </ul>
				</li>
                <li><%= link_to "Schedule", events_path %></li>
		        <li><%= link_to "Groups", groups_path %></li>
		        <li><%= link_to "Inventory", item_categories_path %></li>
            </ul>
			<%= form_tag '/dashboard/search', :class => 'navbar-search', :method => 'get' do %>
	            <%= search_field_tag "q", nil, :placeholder => "Search" %>
			<% end %>
			<ul class="nav pull-right">
			<li class="dropdown">
				<%= link_to "#{current_user.name} <b class='caret'></b>".html_safe, '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown' %>
			    <ul class="dropdown-menu">
			      <li><%= link_to 'Profile', current_user %></li>
			      <li><%= link_to 'Settings', '#' %></li>
			      <li class="divider"></li>
			      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
			    </ul>
			</li>
	        <% else %>
			<%= form_for :user, :url => user_session_path, :html=>{:class => 'navbar-form'} do |ft| %>

			<%= ft.text_field :andrewid, :placeholder => 'Andrew ID' %>
			<%= ft.password_field :password, :placeholder => 'Password' %>

			<%= submit_tag 'Login' %>
			<% end %>
			<% end %>
			</ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
  <div class="container">
	<div class="content">
		<% if alert %>
		<div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a><p><strong>Oops!</strong> <%= alert %></p></div>
		<% end %>
		<% if notice %>
		<div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a><p><strong>Success!</strong> <%= notice %></p></div>
		<% end %>
        <div class="row">
            <%= content_for?(:content) ? yield(:content) : yield %>
          <div class="span1">&nbsp;</div>
        </div><!--/row-->
    </div><!--/content-->
  </div>
  <%= javascript_include_tag "application" %>

  <%= yield(:javascripts) %>
  <script type="text/javascript">
	$('.notification-button').click(function(){
		$.get("<%= read_notifications_path %>");
	});
  </script>
</body>
</html>
