<% content_for(:content) do %>
  <div class="row">
    <div class="col-md-12">
      <% if has_permission? "adminGroup" %>
        <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Edit".html_safe, edit_group_path(@group) %>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <center>
            <h2><%= @group %></h2>
            <%= image_tag @group.image.url(:medium) %>
          </center>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <% @group.positions.includes(:role).where("roles.name = 'Production Staff'").sort_by{|n| n}.each do |p| %>
            <p><strong><%= p.display_name %></strong> <%= link_to p.user, p.user %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="nav nav-pills group-nav">
            <li class="<%= 'active' if controller.controller_name == 'groups' %>"><%= link_to 'Home', @group %></li>
            <li class="<%= 'active' if controller.controller_name == 'positions' %>"><%= link_to 'Members', group_positions_path(@group) %></li>
            <li class="<%= 'active' if controller.controller_name == 'message_lists' %>"><%= link_to 'Message Lists', group_message_lists_path(@group) %></li>
            <li class="dropdown <%= 'active' if controller.controller_name.in? ['documents', 'reports'] %>">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Documents<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'View All', group_documents_path(@group) %></li>
              <li><%= link_to 'Reports', group_reports_path(@group) %></li>
            </ul>
            </li>
            <li class="<%= 'active' if controller.controller_name == 'events' %>"><%= link_to 'Schedule', group_events_path(@group) %></li>
            <% if @group.tickets_available && has_permission?('adminCrew') %>
              <li class="<%= 'active' if controller.controller_name == 'ticket_reservations' %>"><%= link_to 'Box Office', group_ticket_reservations_path(@group) %></li>
            <% end %>
            <% if @group.type.to_s == 'Show' && @group.auditions? %>
              <li class="<%= 'active' if controller.controller_name == 'auditions' %>"><%= link_to 'Auditions', group_auditions_path(@group) %></li>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
<% end %>
<%= render :file => 'layouts/application'%>
