<% content_for(:content) do %>
<div class="row">
	<div class="page">
	<div class="span3">
		<div class="row">
			<% if has_permission? "adminGroup" %>
			  <div class="group_edit_link"><%= link_to "<i class='icon-pencil'></i> Edit".html_safe, edit_group_path(@group) %></div>
			<% end %>
		</div>
		<div class="row">
			<center>
				<h2><%= @group %></h2>
			</center>
		</div>
		<div class="row">
			<center>
				<%= image_tag @group.image.url(:medium) %>
			</center>
		</div>
		<br />
		<div class="row">
			<% @group.positions.includes(:role).where("roles.name = 'Production Staff'").sort_by{|n| n}.each do |p| %>
				<p><strong><%= p.display_name %></strong> <%= link_to p.user, p.user %></p>
			<% end %>
		</div>
	</div>
	<div class="span9">
		<div class="row">
			<div class="nav nav-tabs" style="<%= 'margin-bottom:0;' if @nomargin %>">
				<li class="<%= 'active' if controller.controller_name == 'groups' %>"><%= link_to 'Home', @group %></li>
				<li class="<%= 'active' if controller.controller_name == 'positions' %>"><%= link_to 'Members', group_positions_path(@group) %></li>
				<li class="<%= 'active' if controller.controller_name == 'documents' %>"><%= link_to 'Documents', group_documents_path(@group) %></li>
				<li class="<%= 'active' if controller.controller_name == 'message_threads' %>"><%= link_to 'Messages', group_message_threads_path(@group) %>
				<li class="dropdown <%= 'active' if controller.controller_name == 'events' %>">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Schedule<b class="caret"></b></a>
				    <ul class="dropdown-menu">
				      <li><%= link_to 'Standard', group_events_path(@group) %></li>
					  <li><%= link_to 'Conflict-Aware', schedule_group_events_path(@group) %></li>
				    </ul>
				</li>
			</div>
		</div>
		<div class="row-fluid">
		<%= yield %>
		</div>
	</div>
	<div class="clearfix"></div>
	</div>
</div>
<% end %>
<%= render :file => 'layouts/application'%>