<!DOCTYPE html>
<html lang="en">
<head>
  <title>Scotch'n'Soda Theatre</title>
  <meta charset='utf-8'>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "pages", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>

  <%= yield :header %>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9104858-1']);
    _gaq.push(['_setDomainName', '.snstheatre.org']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('sns_web_logo.png', style: 'height: 30px;'), root_path, class: 'navbar-brand sns-brand' %>
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Scotch Login', dashboard_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <% if alert %>
      <div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a><p><strong>Oops!</strong> <%= alert %></p></div>
      <% end %>
      <% if notice %>
      <div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a><p><strong>Success!</strong> <%= notice %></p></div>
      <% end %>
      <div class="row">
        <div class="col-12">
          <div class="sns-content">
            <%= content_for?(:content) ? yield(:content) : yield %>
            <%= render 'pages/footer' %>
            <div class="clearfix"></div>
          </div>
        </div>
      </div><!--/row-->
    </div><!--/content-->
  </div>
  <%= javascript_include_tag "application" %>

  <%= yield(:javascripts) %>
</body>
</html>
